@inject IConfigService _config
@using Biobanks.Directory.Config
@using Biobanks.Directory.Services.Directory.Contracts
@model Biobanks.Directory.Areas.Network.Models.Profile.NetworkBiobanksModel

@{
    ViewBag.Title = "Network biobanks";
}

@await Html.PartialAsync("_NetworkTabs", "Biobanks")

<h3>Biobanks in your Network @Html.ActionLink("Add a new Biobank", "AddBiobank", "Profile", new { networkId = ViewContext.RouteData.Values["networkId"]}, new { @class = "btn btn-success pull-right" })</h3>

<div class="row">
    <div class="col-sm-12">
        <br/>
        @if (Model.Biobanks.Any())
        {
            <table id="network-biobanks" class="table table-striped">
                <thead>
                <tr>
                    <th>Biobank</th>
                    <th>Admins</th>
                    @if (await _config.GetSiteConfigValue(ConfigKey.TrustBiobanks) !="false")
                    {
                        <th>Approval Status</th>
                    }
                </tr>
                </thead>

                <tbody>
                @foreach (var biobank in Model.Biobanks)
                {
                    <tr>
                        <td class="">
                            @biobank.Name

                            <a href="@Url.Action("DeleteBiobank", "Profile", new { networkId = ViewContext.RouteData.Values["networkId"], biobankId = biobank.BiobankId, biobankName = biobank.Name})"
                               class="pull-right confirm-delete"
                               data-biobank-name="@biobank.Name">
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                @foreach (var admin in biobank.Admins)
                                {
                                    <li><span class="fa fa-user labelled-icon"></span>@admin</li>
                                }
                            </ul>
                        </td>
                        @if (await _config.GetSiteConfigValue(ConfigKey.TrustBiobanks) !="false")
                        {
                            <td>
                                @if (biobank.ApprovedDate != null)
                                {
                                    <div>Approved</div>
                                }
                                else
                                {
                                    <div>Not approved</div>
                                }
                            </td>
                        }

                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info">
                There are no Biobanks in your Network yet.
                @Html.ActionLink("Add a new Biobank now", "AddBiobank", "Profile", new { networkId = ViewContext.RouteData.Values["networkId"] })
            </div>
        }
    </div>
</div>

@section FooterScripts
{
    <script src="~/dist/js/Network/biobanks.min.js" asp-append-version="true"></script>
}
