@using System.Configuration
@using Directory.Data.Constants
@model Biobanks.Web.Models.Register.RegisterEntityModel
@{
    ViewBag.Title = "Register a new network";
}
<div class="row">
    <div class="alert alert-info col-sm-3 info-help">
        <p>For guidance, go to our <a href="@App.Config[ConfigKey.RegisterRegistrationHelpUrl]">help page</a>.</p>
    </div>
</div>
    <h2>@App.Config[ConfigKey.RegisterNetworkTitle]</h2>

<div class="row">
	<div class="col-sm-8">
		<p>@App.Config[ConfigKey.RegisterNetworkDescription]</p>
	</div>
</div>

<div class="row">
    <div class="col-sm-9">
        @using (Html.BeginForm("Network", "Register",
            FormMethod.Post,
            new { @class = "form-horizontal", id = "register-form" }))
        {
            @Html.AntiForgeryToken()

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <button type="submit"
                            class="btn btn-primary form-control g-recaptcha"
                            data-sitekey="@ConfigurationManager.AppSettings["GoogleRecaptchaPublicKey"]"
                            data-callback="onRecaptchaSubmit">
                        Register
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section HeadScripts
{
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script>
        function onRecaptchaSubmit(token) {
            document.getElementById("register-form").submit();
        }
    </script>
}