@inject IOptions<SitePropertiesOptions> _sitePropertiesOptions

@model Biobanks.Submissions.Api.Models.Home.HomepageContentModel

@{
    var siteProperties = _sitePropertiesOptions.Value;
}

@using (Html.BeginForm("Unified", "Search", null, FormMethod.Get))
{

    <div class="row search-title">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p>@Model.SearchTitle</p>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row search-instructions">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <img src="@Url.Content("~/Content/images/Container_1.png")" />
        </div>
        <div class="col-lg-6 primary-color">
            @Model.SearchSubTitle
            <div class="row-buffer radio-labels">
                <fieldset>
                    <legend class="sr-only">Search for</legend>
                    <label class="radio-inline">
                        <input type="radio" name="searchRadio" id="Collections" value="Collections" checked="checked">@Model.AccessExistingSamples
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="searchRadio" id="Capabilities" value="Capabilities"> @Model.RequireSamplesCollected
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <hr class="full" />


    <div class="row row-buffer primary-color search-instructions search-two">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <img src="@Url.Content("~/Content/images/Container_2.png")" />
        </div>
        <div class="col-lg-6">
            (Optional) Enter a disease term  <br />
            See our <a href="@Url.Action("Index", "Term")">list of terms</a> or <a href="@siteProperties.ContactUsUrl">contact us</a> for help.
            <div class="row-buffer">
                @Html.TextBox(
                  "ontologyTerm",
                  "",
                  new {
                    @class = "form-control diagnosis-search",
                    autocomplete = "off",
                    placeholder = "Enter a disease term",
                    title = "Search"
                  })
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <hr class="full" />
    <div class="row search-instructions search-three">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <img src="@Url.Content("~/Content/images/Container_3.png")" />
        </div>
        <div class="col-lg-6">
            <button type="submit" class="submit btn-search">
                Search <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="col-lg-2"></div>
    </div>
}
