@using Biobanks.Web.Models.ADAC
@using System.Web.Optimization
@using System.Web.Mvc.Html 
@model IEnumerable<ContentPageModel>

@{ ViewBag.Title = "Content Page Admin"; }

<!-- NOT CURRENTLY WORKING - Id should be a parameter eg /CreateEdit?Id=0-->
<h1>Content Page Admin @Html.ActionLink("Create", "CreateEdit", "PagesAdmin", new { Id = "0" }, new { @class = "btn btn-success" })</h1>
<div class="row">
    <table id="contentPages" class="table table-striped">
        <tr>
            <th width="50"></th>
            <th width="350">Title</th>
            <th width="50"></th>
            <th width="50"></th>
        </tr>

        @foreach (var page in Model)
        {
            <tr>
                <td></td>
                <td>@page.Title</td>
                <td>
                    <a href="@Url.Action(
                            "CreateEdit", "PagesAdmin",
                            new
                            {
                                id = page.Id
                            })">Edit</a>
                </td>
                <td>
                    <a href="@Url.Action(
                            "Delete", "PagesAdmin",
                            new
                            {
                                id = page.Id
                            })"
                       class="delete-confirm">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>

@section FooterScripts
{
    @Scripts.Render("~/bundles/pagesadmin")
}