@inject IConfigService _config
@using Biobanks.Directory.Config
@using Biobanks.Directory.Services.Directory.Contracts
@model string

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation" class="@(Model == "General" ? "active" : "true")">
                @Html.ActionLink("General Info", "Biobank", new { id = @ViewData["id"] })
            </li>

            @if (await _config.GetSiteConfigValue(ConfigKey.DisplayPublications) != "false")
            {
                <li role="presentation" class="@(Model == "Publications" ? "active" : "true")">
                    @Html.ActionLink("Publications", "Publications", new { id = @ViewData["id"] })
                </li>
            }
        </ul>
    </div>
</div>
