@model Biobanks.Submissions.Api.Models.Shared.TermPageModel

@{
    ViewBag.Title = "Terms";
}
<br />
<a>
    <img src="@Url.Content("~/images/term_logo.png")" class="logo" width="300" />
</a>
<p>
    <br />
    <br />
    @Html.Markdown(Model.TermpageContentModel.PageInfo)
</p>

<div class="row">
  <div class="col-sm-12">
    <br />
    <table id="disease-terms" class="table table-striped table-fixed">

      <thead>
      <tr>
        <th>Name</th>
        <th>Other Terms</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      @foreach (var ontologyTerm in Model.OntologyTermsModel)
      {
        <tr class="@(ontologyTerm.CollectionCapabilityCount > 0 ? "info" : "")">
          <td>
            <div class="wrappable-td">@Html.DisplayFor(x => ontologyTerm.Description)</div>
          </td>
          <td>
            @Html.DisplayFor(x => ontologyTerm.OtherTerms)
          </td>
          <td>
            <a href="@Url.Action("Collections", "Search", new { ontologyTerm = ontologyTerm.Description })"><center>Search</center></a>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>

@section FooterScripts
{
  <script src="~/dist/js/Term/diseasetable.min.js" asp-append-version="true"></script>
}
