@inject IOptions<SitePropertiesOptions> _config
@using Biobanks.Directory.Config
@model Biobanks.Directory.Models.Emails.ExistingUserRegisterEntityAdminInviteModel

@{
	var directoryName = @_config.Value.ServiceName;
  var emailSignature = @_config.Value.EmailSignature;

	// Format Email Subject
  ViewBag.Subject = $"{directoryName} {ViewBag.Entity} Administration";
}

Dear @Html.Raw(Model!.name),
<br/><br/>
You've been invited to become an admin for @Html.Raw(Model.entity) at the @directoryName.
<br/><br/>
<a href="@Html.Raw(Model.link)">Click this link complete to login </a>
<br/><br/>
Regards,<br/>
@emailSignature
