@inject IOptions<SitePropertiesOptions> _config
@using Biobanks.Directory.Config
@model Biobanks.Directory.Models.Emails.NewUserRegisterEntityAdminInviteModel

@{
	var directoryName = @_config.Value.ServiceName;
  var emailSignature = @_config.Value.EmailSignature;

	// Format Email Subject
  ViewBag.Subject = $"{directoryName} {ViewBag.Entity} Administration";
}

Dear @Html.Raw(Model!.name)
<br/><br/>
You've been invited to become an admin for @Html.Raw(Model.entity) at the @directoryName.
<br/><br/>
Please use this link below to complete registration and set your password:
<br/><br/>
<a href="@Html.Raw(Model.confirmLink)">Click here to complete registeration</a>
<br/><br/>
Regards,<br/>
@emailSignature
