@inject IOptions<SitePropertiesOptions> _config
@model Biobanks.Submissions.Api.Models.Emails.PasswordResetModel

@{
    var directoryName = @_config.Value.ServiceName;
    var emailSignature = @_config.Value.EmailSignature;
    var resetLink = "Password Reset Link";

    // Format Email Subject
    ViewBag.Subject = $"{directoryName} Password Reset";
}

<p>Dear @Model.Username</p>

<p>We have received a password reset request for your account at the @directoryName.</p>

<p>If you didn't request this, please ignore this email.</p>

<p>Otherwise, please use the link below to reset your password:<br>
<a href="@Model.ResetLink">@resetLink</a></p>

<p>Regards,<br> @emailSignature</p>
