@model string

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation"
                class="@(Model == "Info" ? "active" : "true")">
                @Html.ActionLink("Info", "Index")
            </li>

            <li role="presentation"
                class="@(Model == "Search index" ? "active" : "true")">
                @Html.ActionLink("Search index", "SearchIndex")
            </li>

            <li role="presentation"
                class="@(Model == "Tools" ? "active" : "true")">
                @Html.ActionLink("Tools", "Tools")
            </li>
        </ul>
    </div>
</div>
