@using Newtonsoft.Json
@using Biobanks.Directory.Extensions
@model Biobanks.Directory.Models.Search.FacetsModel

<div class="col-sm-4">
	@if (!Model.Facets.IsNullOrEmpty())
	{
		var facets = Model.Facets;

		// Hide County Facet
		if (Model.ShowCounties == "false")
		{
			facets = facets.Where(x => x.Name != "County");
		}

		foreach (var facetGroup in facets.GroupBy(x => x.GroupName))
		{

			// Facet Group Data
			var firstFacet = facetGroup.First();

			var facetGroupNameId = $"FacetGroup{firstFacet.GroupNameWithoutSpaces}";
			var facetGroupIconId = $"FacetGroupIcon{firstFacet.GroupNameWithoutSpaces}";

			var facetGroupCollapsedCookieValue = Context.Request.Cookies[$"{facetGroupNameId}Collapsed"];

			var facetGroupCollapsed = facetGroupCollapsedCookieValue != null
				? Convert.ToBoolean(facetGroupCollapsedCookieValue)
				: firstFacet.GroupCollapsedByDefault;

			var groupSelectedCount = facetGroup.Count(
				y => Model.SelectedFacets.Any(sf => y.FacetValues.Select(fv => fv.FacetId).Contains(sf)));


			@* Facet Group Panel *@
			<div class="panel panel-default">
				
				@* Panel Header *@
				<div class="panel-heading facet-group-header" role="button" 
					 data-toggle="collapse" 
					 data-target="#@(facetGroupNameId)"
					 aria-expanded="@((!facetGroupCollapsed).ToString())" 
					 aria-controls="@facetGroupNameId">

					@firstFacet.GroupName

					<span id="@facetGroupIconId" class="facet-group-icon fa @Html.Raw(facetGroupCollapsed ? "fa-plus-square" : "fa-minus-square") pull-right"></span>

					@if (groupSelectedCount > 0)
					{
						<span class="badge facet-group-badge pull-right">@groupSelectedCount in use</span>
					}
				</div>

				@* Panel Body *@
				<div id="@facetGroupNameId" class="panel-body facet-group @(facetGroupCollapsed ? "collapse" : "collapse in")" data-icon-id="@facetGroupIconId">
                    <div class="collapse-panel-body">

                        @* Facets *@
                        @foreach (var facet in facetGroup)
                        {
                            var facetName = "";
	                        
	                        switch (facet.Name) 
	                        {
								case "Macroscopic Assessment":
	                                facetName = Model.MacroscopicAssessmentName;
	                                break;
	                            case "Storage Temperature":
		                            facetName = Model.StorageTemperatureName;
		                            break;
	                            case "Donor Count":
		                            facetName = Model.DonorCount;
		                            break;
	                            default:
                                    facetName = facet.Name; break;
                            }

                            if (facetName == "County")
                            {
	                            <div class="facet-container">
								<p class="facet-header">
									<strong>@facetName</strong>
								</p>
	
								@foreach (var countryFacet in facetGroup)
								{
									if (countryFacet.Name == "Country")
									{
										foreach (var country in countryFacet.FacetValues)
										{
											var matchedCounties = Model.GetCounties(country.FacetValue);
											if (matchedCounties.Count > 0)
											{
												<p class="facet-header">
													@country.FacetValue
												</p>
												<ul class="facet-list fa-ul">
													@foreach (var facetValue in facet.FacetValues)
													{
	
														var facetValueName = facetValue.FacetValue;
														if (matchedCounties.Contains(facetValueName))
														{
															if (!Model.FacetSelected(facetValue.FacetId))
															{
																<li>
																	<a href="@Url.Action(Model.Action, "Search", new
																	         {
																	           ontologyTerm = Model.OntologyTerm,
																	           selectedFacets = JsonConvert.SerializeObject(Model.SelectedFacets.Concat(new List<string>
																	           {
																	             facetValue.FacetId
																	           }))
																	         })">
																		<span class="fa fa-circle-o"></span>
																		@facetValueName
																	</a>
																	<span class="facet-count">(@facetValue.Count)</span>
																</li>
															}
															else
															{
																<li>
																	<a href="@Url.Action(Model.Action, "Search", new
																	         {
																	           ontologyTerm = Model.OntologyTerm,
																	           selectedFacets = JsonConvert.SerializeObject(Model.SelectedFacets.Where(
																	             x => x != facetValue.FacetId))
																	         })">
																		<span class="fa fa-check-circle"></span>
																		@facetValueName
																	</a>
																	(@facetValue.Count)
																</li>
															}
														}
	
	
													}
												</ul>
	
											}
										}
	
									}
								}
								
								</div>
                            }
                            else
                            {
                                <div class="facet-container">
                                    <p class="facet-header">
                                        <strong>@facetName</strong>
                                    </p>

                                    <ul class="facet-list fa-ul">
                                        @foreach (var facetValue in facet.FacetValues)
                                        {
                                            // Consent Restriction Edgecase
                                            var facetValueName = facetValue.FacetValue;

                                            if (facet.IndexedName == "consentRestrictions" && facetValueName != "No restrictions")
                                            {
                                                facetValueName = $"No {facetValueName}";
                                            }

                                            if (!Model.FacetSelected(facetValue.FacetId))
                                            {
                                                <li>
                                                    <a href="@Url.Action(Model.Action, "Search", new
                                                             {
                                                               ontologyTerm = Model.OntologyTerm,
                                                               selectedFacets = JsonConvert.SerializeObject(Model.SelectedFacets.Concat(new List<string>
                                                               {
                                                                 facetValue.FacetId
                                                               }))
                                                             })">
                                                        <span class="fa fa-circle-o"></span>
                                                        @facetValueName
                                                    </a>
                                                    <span class="facet-count">(@facetValue.Count)</span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="@Url.Action(Model.Action, "Search", new
                                                             {
                                                               ontologyTerm = Model.OntologyTerm,
                                                               selectedFacets = JsonConvert.SerializeObject(Model.SelectedFacets.Where(
                                                                 x => x != facetValue.FacetId))
                                                             })">
                                                        <span class="fa fa-check-circle"></span>
                                                        @facetValueName
                                                    </a>
                                                    (@facetValue.Count)
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }





                        }
                    </div>
				</div>
			</div>
		}
	}
</div>
