@model Biobanks.Directory.Models.Footer.FooterModel

<div class="container-fluid">

	@* Logos *@
	<div class ="row col-sm-12">
		<p class="footer-title">@Model.Title</p>
	</div>
	<div class="row footer-logo-section">
		<div class="col-sm-12 footer-logos">
			@foreach (var logo in Model.Logos.Children)
			{
				if (!string.IsNullOrEmpty(logo.Src))
				{
					<a href="@logo.Url"><img src="@Url.Content(logo.Src)" alt="@logo.Title" /></a>
				}
			}
		</div>
	</div>

	@* Footer Links *@
	<section>
		<div class="row footer-link-section">
			<div class="col-sm-12">
				@foreach (var link in Model.Links.Children)
				{
					if (link.Equals(Model.Links.Children.Last()))
					{
						<a href=@link.Url>@link.Title</a>
					}
					else
					{
						<a href=@link.Url>@link.Title</a><span> | </span> 
					}
				}
			</div>
		</div>
	</section>

	@* Copyright *@
	<section>
		<div class="row footer-copyright-section">
			<div class="col-sm-12">
				&copy; @DateTime.Now.Year @Model.CopyrightText
			</div>
		</div>
	</section>
</div>
