@model Biobanks.Directory.Areas.Biobank.Models.Profile.AddFunderModel

@Html.AntiForgeryToken()

@Html.HiddenFor(model => model.BiobankName)

@{
  //format the form differently if it's in use in a modal vs on a page
  var labelWidth = (bool?)ViewData["Modal"] ?? false ? "col-sm-3" : "col-sm-2";
  var fieldWidth = (bool?)ViewData["Modal"] ?? false ? "col-sm-6" : "col-sm-4";
}

<div id="bloodhound" class="form-group">
  @Html.LabelFor(x => x.FunderName, new { @class = @labelWidth + " control-label required" })
  <div class="@fieldWidth">
    @Html.TextBoxFor(x => x.FunderName, 
      new { @class = "form-control", placeholder = "Name", data_resource_url = Url.Action("SearchFunders") })
  </div>
</div>
