@inject Biobanks.Submissions.Api.Services.Directory.IConfigService _config

@using Biobanks.Submissions.Api.Config
@model string

<script src="~/dist/js/Admin/tabs.min.js" asp-append-version="true"></script>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation"
                class="@(Model == "Requests" ? "active" : "true")">
              @Html.ActionLink("Requests", "Index", "Requests")
            </li>

            <li role="presentation"
                class="@(Model == "BlockAllowList" ? "active" : "true")">
              @Html.ActionLink("Block/Allow", "BlockAllowList", "RegistrationDomainRules")
            </li>

            <li role="presentation"
                class="@(Model == "Historical" ? "active" : "true")">
              @Html.ActionLink("Historical", "Historical", "Requests")
            </li>

            <li role="presentation"
                class="@(Model == "Biobanks" ? "active" : "true")">
              @Html.ActionLink("Biobanks", "Index", "Biobanks")
            </li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle enabled" data-toggle="dropdown">
                    Reports <span class="caret"></span>
                </a>
                <ul class="dropdown-menu refdata-menu">
                    <li role="presentation"
                        class="@(Model == "Biobanks" ? "active" : "true")">
                      @Html.ActionLink("BioBanks", "BioBankActivity", "Requests")
                    </li>

                    @if (await _config.GetSiteConfigValue(ConfigKey.DisplayAnalytics) != "false")
                    {
                        <li role="presentation"
                            class="@(Model == "Analytics" ? "active" : "true")">
                          @Html.ActionLink("Analytics", "Index", "Analytics")
                        </li>
                    }

                </ul>
            </li>

            <li role="presentation"
                class="@(Model == "Networks" ? "active" : "true")">
              @Html.ActionLink("Networks", "Index", "Networks")
            </li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle enabled" data-toggle="dropdown">
                    Reference Data
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu refdata-menu" id="refdropdown">
                    <li role="presentation"
                        class="@(Model == "Access Conditions" ? "active" : "true")">
                      @Html.ActionLink("Access Conditions", "AccessConditions", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Age Ranges" ? "active" : "true")">
                      @Html.ActionLink("Age Ranges", "AgeRanges", "ReferenceData")
                    </li>


                    <li role="presentation"
                        class="@(Model == "Annual Statistics" ? "active" : "true")">
                      @Html.ActionLink("Annual Statistics", "AnnualStatistics", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Annual Statistic Groups" ? "active" : "true")">
                      @Html.ActionLink("Annual Statistic Groups", "AnnualStatisticGroups", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Associated Data Types" ? "active" : "true")">
                      @Html.ActionLink("Associated Data Types", "AssociatedDataTypes", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Associated Data Type Groups" ? "active" : "true")">
                      @Html.ActionLink("Associated Data Type Groups", "AssociatedDataTypeGroups", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Associated Data Procurement Time Frame" ? "active" : "true")">
                      @Html.ActionLink("Associated Data Procurement Time Frame", "AssociatedDataProcurementTimeFrame", "ReferenceData")
                    </li>

                    @if (await _config.GetSiteConfigValue(ConfigKey.ShowPreservationPercentage)  != "false")
                    {
                        <li role="presentation"
                            class="@(Model == "Collection Percentages" ? "active" : "true")">
                          @Html.ActionLink("Collection Percentages", "CollectionPercentages", "ReferenceData")
                        </li>
                    }

                    <li role="presentation"
                        class="@(Model == "Consent restrictions" ? "active" : "true")">
                      @Html.ActionLink("Consent Restrictions", "ConsentRestriction", "ReferenceData")
                    </li>
                    <li role="presentation"
                        class="@(Model == $"{await _config.GetSiteConfigValue(ConfigKey.DonorCountName)}" ? "active" : "true")">
                      @Html.ActionLink($"{await _config.GetSiteConfigValue(ConfigKey.DonorCountName)}", "DonorCounts", "ReferenceData")
                    </li>
                    <li role="presentation"
                        class="@(Model == "Collection statuses" ? "active" : "true")">
                      @Html.ActionLink("Collection Statuses", "CollectionStatus", "ReferenceData")
                    </li>
                    <li role="presentation"
                        class="@(Model == "Collection types" ? "active" : "true")">
                      @Html.ActionLink("Collection Types", "CollectionType", "ReferenceData")
                    </li>
                    <li role="presentation"
                        class="@(Model == "Countries" ? "active" : "true")">
                      @Html.ActionLink("Countries", "Country", "ReferenceData")
                    </li>

                    @if (await _config.GetSiteConfigValue(ConfigKey.ShowCounties) != "false")
                    {
                        <li role="presentation"
                            class="@(Model == "Counties" ? "active" : "true")">
                          @Html.ActionLink("Counties", "County", "ReferenceData")
                        </li>
                    }

                    <li role="presentation"
                        class="@(Model == "Disease statuses" ? "active" : "true")">
                      @Html.ActionLink("Disease statuses", "DiseaseStatuses", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Extraction Procedures" ? "active" : "true")">
                      @Html.ActionLink("Extraction Procedures", "ExtractionProcedure", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == $"{await _config.GetSiteConfigValue(ConfigKey.MacroscopicAssessmentName)}" ? "active" : "true")">
                      @Html.ActionLink($"{await _config.GetSiteConfigValue(ConfigKey.MacroscopicAssessmentName)}", "MacroscopicAssessments", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Material Types" ? "active" : "true")">
                      @Html.ActionLink("Material Types", "MaterialTypes", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Material Type Groups" ? "active" : "true")">
                      @Html.ActionLink("Material Type Groups", "MaterialTypeGroups", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Preservation Types" ? "active" : "true")">
                      @Html.ActionLink("Preservation Types", "PreservationTypes", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == $"{await _config.GetSiteConfigValue(ConfigKey.StorageTemperatureName)}" ? "active" : "true")">
                      @Html.ActionLink($"{await _config.GetSiteConfigValue(ConfigKey.StorageTemperatureName)}", "StorageTemperatures", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Registration Reasons" ? "active" : "true")">
                      @Html.ActionLink("Registration Reasons", "RegistrationReason", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Sample Collection Modes" ? "active" : "true")">
                      @Html.ActionLink("Sample Collection Modes", "SampleCollectionModes", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Service Offerings" ? "active" : "true")">
                      @Html.ActionLink("Service Offerings", "ServiceOffering", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Sexes" ? "active" : "true")">
                      @Html.ActionLink("Sexes", "Sexes", "ReferenceData")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Sop Status" ? "active" : "true")">
                      @Html.ActionLink("Sop Status", "SopStatus", "ReferenceData")
                    </li>
                </ul>
            </li>

            <li role="presentation"
                class="@(Model == "Funders" ? "active" : "true")">
              @Html.ActionLink("Funders", "Index", "Funders")
            </li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle enabled" data-toggle="dropdown">
                    Site Config <span class="caret"></span>
                </a>
                <ul class="dropdown-menu refdata-menu">
                    <li role="presentation"
                        class="@(Model == "Site Config" ? "active" : "true")">
                      @Html.ActionLink("Site Config", "SiteConfig", "SiteConfig")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Homepage Config" ? "active" : "true")">
                      @Html.ActionLink("Homepage Config", "HomepageConfig", "SiteConfig")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Term Page Config" ? "active" : "true")">
                      @Html.ActionLink("Term Page Config", "TermpageConfig", "SiteConfig")
                    </li>

                    <li role="presentation"
                        class="@(Model == "Register Pages Config" ? "active" : "true")">
                      @Html.ActionLink("Register Pages Config", "RegisterPagesConfig", "SiteConfig")
                    </li>

                    <li role="presentation"
                        class="@(Model == await _config.GetSiteConfigValue(ConfigKey.SampleResourceName) + " Config" ? "active" : "true")">
                      @Html.ActionLink(await _config.GetSiteConfigValue(ConfigKey.SampleResourceName) + " Config", "SampleResourceConfig", "SiteConfig")
                    </li>
                </ul>
            </li>

            <li role="presentation"
                class="@(Model == "Content Pages" ? "active" : "true")">
                @Html.ActionLink("Content Pages ", "Index", "PagesAdmin")
            </li>

        </ul>
    </div>
</div>







