@using System.Linq
@using Biobanks.Submissions.Api.Config
@inject Biobanks.Submissions.Api.Services.Directory.IConfigService _config

@model Biobanks.Submissions.Api.Areas.Biobank.Models.Collections.AbstractCRUDSampleSetModel

<div class="col-sm-10 col-sm-offset-1">
    <h4>@Html.LabelFor(x => x.Sex, new { @class = "required" }) <span class="fa fa-info-circle help-icon-button help-icon-for-label help-label-sampleset-sex"></span></h4>

    <div class="form-group">
        <div class="col-sm-8">
            @foreach (var sex in Model.Sexes)
            {
                <div class="col-sm-12 radio">
                    <label>
                        @Html.RadioButtonFor(x => x.Sex, sex.Id)
                        @Html.Raw(sex.Description)
                    </label>
                </div>
            }
            @Html.ValidationMessageFor(x => x.Sex)
        </div>
    </div>

    <h4>@Html.LabelFor(x => x.AgeRange, new { @class = "required" }) <span class="fa fa-info-circle help-icon-button help-icon-for-label help-label-sampleset-agerange"></span></h4>

    <div class="form-group">
        <div class="col-sm-8">
            <div class="col-sm-6">
                @for (var i = 0; i < Model.AgeRanges.Count(); i++)
                {
                    var ageRange = Model.AgeRanges.ElementAt(i);

                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(x => x.AgeRange, ageRange.Id)
                            @Html.Raw(ageRange.Description)
                        </label>
                    </div>

                    if (i == Math.Ceiling((decimal)Model.AgeRanges.Count() / 2) - 1)
                    {
                        @Html.Raw("</div>\n<div class=\"col-sm-6\">")
                    }
                }
            </div>
            @Html.ValidationMessageFor(x => x.AgeRange)
        </div>
    </div>

    <h4>@Html.LabelFor(x => x.DonorCountId, new { @class = "required" }) <span class="fa fa-info-circle help-icon-button help-icon-for-label help-label-sampleset-numberofdonors"></span></h4>

    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-1">
            <div class="row">
                <div class="col-md-5 slider-container">
                    <input type="text" id="DonorCountSlider" name="DonorCountSliderPosition" class="form-control"
                           data-bind="sliderValue: {value: donorCount, min: 0, step: 1, tooltip: 'hide', formatter: function (value) { return lookup.donorCounts()[value].label; } }" />
                </div>
                <div class="col-md-6 slider-value form" data-bind="text: donorCountDescription"></div>
            </div>
            @Html.HiddenFor(x => x.DonorCountId, new { data_bind = "value: donorCountId" })
        </div>
    </div>
</div>

<div class="col-sm-10 col-sm-offset-1">
    <h3 class="pull-left">Material preservation details</h3>
    <h3 class="pull-right">
        <button type="button" class="btn btn-success " data-bind="click: openModalForAdd">Add details</button>
    </h3>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        @Html.DisplayFor(m => ViewData.ModelState, "ModelStateDictionaryGlobalOnly")
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="alert alert-info" data-bind="visible: !anyMaterialPreservationDetails()">
            There are no material preservation details in this sample set yet.
            <a href="#" data-bind="click: openModalForAdd">Add material preservation details now.</a>
        </div>

        <table id="mpd" class="table table-striped" data-bind="visible: anyMaterialPreservationDetails()">
            <thead>
                <tr>
                    <th>Material type</th>
                    <th>Extraction Procedure</th>
                    <th>@await _config.GetSiteConfigValue(ConfigKey.StorageTemperatureName)</th>
                    <th>Preservation type</th>

                    @if (Model.ShowMacroscopicAssessment)
                    {
                        <th>@await _config.GetSiteConfigValue(ConfigKey.MacroscopicAssessmentName)</th>
                    }
                    @if (await _config.GetSiteConfigValue(ConfigKey.ShowPreservationPercentage) == "true")
                    {
                        <th>% of sample set</th>
                    }
                    <th></th>
                </tr>
            </thead>

            <tbody data-bind="dataTablesForEach: {data: materialPreservationDetails, dataTableOptions: {
                          paging: true,
                          searching: false,
                          info: false,
                          columnDefs: [{ 'orderable': false, 'targets': '_all' }]
                      }
                  }">
                <tr>
                    <td data-bind="text: materialTypeDescription"></td>
                    <td data-bind="text: extractionProcedureDescription"></td>
                    <td data-bind="text: storageTemperatureDescription"></td>
                    <td data-bind="text: preservationTypeDescription"></td>
                    @if (Model.ShowMacroscopicAssessment)
                    {
                        <td data-bind="text: macroscopicAssessmentDescription"></td>
                    }
                    @if (await _config.GetSiteConfigValue(ConfigKey.ShowPreservationPercentage) == "true")
                    {
                        <td data-bind="text: percentageDescription() || 'Not Applicable'"></td>
                    }
                    <td nowrap="nowrap">
                        <a title="Edit" class="action-icon" href="#" data-toggle="modal" data-target="#myModal" data-bind="click: $parent.editDetails"><span class="fa fa-edit"></span></a>
                        <a title="Delete" class="action-icon" href="#" data-bind="click: $parent.deleteDetails"><span class="fa fa-trash"></span></a>
                        <a title="Copy" class="action-icon" href="#" data-toggle="modal" data-target="#myModal" data-bind="click: $parent.copyDetails"><span class="fa fa-copy labelled-icon"></span>Copy</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr />

        <input type="hidden" id="MaterialPreservationDetailsJson" name="MaterialPreservationDetailsJson" data-bind="value: ko.toJSON(materialPreservationDetails)" />
    </div>
</div>

@*<pre data-bind="text: ko.toJSON($data.materialPreservationDetails, null, 2)"></pre>*@


<!-- Material Preservation Detail Modal -->
<div class="modal fade" id="materialPreservationDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span data-bind="text: modal.mode"></span> material preservation detail</h4>
            </div>

            <p class="help-block col-sm-12 card-block">
                Please answer the following questions for each material type available for this collection.
                To facilitate data entry, you can copy your current answers for re-use.
            </p>

            <div class="row" data-bind="visible: modal.mode() === modal.modalModeCopy">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        <p>
                            This is a <strong>copy</strong>. Please make the required changes before saving.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row"
                 data-bind="visible: modal.materialPreservationDetail().showErrors() && modal.materialPreservationDetail().errors().length > 0">
                <div class="col-sm-12">
                    <ul class="list-unstyled alert alert-danger">
                        <li data-bind="validationMessage: modal.materialPreservationDetail().materialType"></li>
                        <li data-bind="validationMessage: modal.materialPreservationDetail().extractionProcedure"></li>
                        <li data-bind="validationMessage: modal.materialPreservationDetail().preservationType"></li>
                        <li data-bind="validationMessage: modal.materialPreservationDetail().storageTemperature"></li>
                        <li data-bind="validationMessage: modal.materialPreservationDetail().macroscopicAssessment"></li>
                        <li data-bind="validationMessage: modal.materialPreservationDetail().isDuplicate"></li>
                    </ul>
                </div>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <!-- Material Type -->
                        <div class="col-sm-12 form-group">
                            <label class="control-label required">Material type</label>
                            <p class="help-block col-sm-12">
                                <span class="fa fa-info-circle"></span>
                                Please select the type of sample you have stored;
                                if is not there please get in touch.
                            </p>
                            <div class="col-sm-12" data-bind="foreach: lookup.materialTypes">
                                <div class="col-sm-6 radio">
                                    <label data-bind="validationOptions: {insertMessages: false}">
                                        <input type="radio" name="radMaterial" onclick="extractionValidation()" data-bind="checkedValue: $data.value, checked: $root.modal.materialPreservationDetail().materialType">
                                        <span data-bind="text: $data.label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Extraction Procedure -->
                        <div class="col-sm-12">
                            <label class="control-label">Extraction Procedure</label>
                            <p class="help-block col-sm-12">
                                <span class="fa fa-info-circle"></span>
                                Please select the extraction procedure for the material type;
                                if is not there please get in touch.
                            </p>
                            <div class="col-sm-12">
                                <label data-bind="validationOptions: {insertMessages: false}">
                                    <select name="ddExtraction" class="form-control" style="width:300px"
                                            data-bind="options: lookup.materialExtractionProcedures, optionsText: 'label', optionsValue: 'value', optionsCaption: 'Choose...', valueAllowUnset: true, value:$root.modal.materialPreservationDetail().extractionProcedure"></select>
                                </label>
                            </div>
                        </div>

                        <!-- Storage Temperature -->
                        <div class="col-sm-12 form-group">
                            <label class="control-label required">@await _config.GetSiteConfigValue(ConfigKey.StorageTemperatureName)</label>
                            <p class="help-block col-sm-12">
                                <span class="fa fa-info-circle"></span>
                                Select how the samples are currently stored.
                                If there is something missing please contact us.
                            </p>
                            <div class="col-sm-12">
                                <div class="col-sm-6" data-bind="foreach: lookup.storageTemperatures.slice(0, lookup.storageTemperatures().length / 2)">
                                    <div class="radio">
                                        <label data-bind="validationOptions: {insertMessages: false}">
                                            <input type="radio" name="radPreservation" onclick="preservationValidation()" data-bind="checkedValue: $data.value, checked: $root.modal.materialPreservationDetail().storageTemperature">
                                            <span data-bind="text: $data.label"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6" data-bind="foreach: lookup.storageTemperatures.slice(lookup.storageTemperatures().length / 2)">
                                    <div class="radio">
                                        <label data-bind="validationOptions: {insertMessages: false}">
                                            <input type="radio" name="radPreservation" onclick="preservationValidation()" data-bind="checkedValue: $data.value, checked: $root.modal.materialPreservationDetail().storageTemperature">
                                            <span data-bind="text: $data.label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Preservation Type -->
                        <div class="col-sm-12 form-group">
                            <label class="control-label">Preservation Type</label>
                            <p class="help-block col-sm-12">
                                <span class="fa fa-info-circle"></span>
                                Select how the samples are currently stored.
                                If there is something missing please contact us.
                            </p>
                            <div class="col-sm-12">
                                <div class="col-sm-6" data-bind="foreach: lookup.preservationTypes.slice(0, lookup.preservationTypes().length / 2)">
                                    <div class="radio">
                                        <label data-bind="validationOptions: {insertMessages: false}">
                                            <input type="radio" name="radPreservationType" data-bind="checkedValue: $data.value, checked: $root.modal.materialPreservationDetail().preservationType">
                                            <span data-bind="text: $data.label"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6" data-bind="foreach: lookup.preservationTypes.slice(lookup.preservationTypes().length / 2)">
                                    <div class="radio">
                                        <label data-bind="validationOptions: {insertMessages: false}">
                                            <input type="radio" name="radPreservationType" data-bind="checkedValue: $data.value, checked: $root.modal.materialPreservationDetail().preservationType">
                                            <span data-bind="text: $data.label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Macroscopic Assessment (Javascript sets default value when hidden) -->
                        @if (Model.ShowMacroscopicAssessment)
                        {
                            <div class="col-sm-12 form-group">
                                <label class="control-label required">@await _config.GetSiteConfigValue(ConfigKey.MacroscopicAssessmentName)</label>
                                <p class="help-block col-sm-12">
                                    <span class="fa fa-info-circle"></span>
                                    For samples examined by a pathologist.
                                    Please select if the sample type selected above contains (affected) or does not contain (non-affected) the disease referenced in this collection.
                                    If the sample is not examined by a pathologist, please mark N/A.
                                </p>
                                <div class="col-sm-12" data-bind="foreach: lookup.macroscopicAssessments">
                                    <div class="col-sm-12 radio">
                                        <label data-bind="validationOptions: {insertMessages: false}">
                                            <input type="radio" name="radMacroscopic" data-bind="checkedValue: value, checked: $root.modal.materialPreservationDetail().macroscopicAssessment">
                                            <span data-bind="text: label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- Percentage -->
                        @if (await _config.GetSiteConfigValue(ConfigKey.ShowPreservationPercentage) == "true")
                        {
                            <div class="col-sm-12 form-group">
                                <label for="percentage" class="control-label">Percentage</label>
                                <p class="help-block col-sm-12">
                                    <span class="fa fa-info-circle"></span>
                                    Please estimate the percentage of individuals in this collection who have samples with this selected combination of material type, @await _config.GetSiteConfigValue(ConfigKey.StorageTemperatureName) and macroscopic assessment.
                                </p>
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6 slider-container">
                                            <input type="text" id="Percentage" name="percentage" class="form-control"
                                                   data-bind="sliderValue: {value: modal.materialPreservationDetail().percentage, min: 1, max: 6, step: 1, tooltip: 'hide', formatter: function (value) { return sampleSetVM.modal.materialPreservationDetail().percentageDescription(); } }">
                                        </div>
                                        <div class="col-sm-5 slider-value" data-bind="text: modal.materialPreservationDetail().percentageDescription"></div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @*Hidden default value - Id=3 Not-Applicable - Set in modal javascript*@
                            <input hidden type="text" name="percentage" data-bind="value: modal.materialPreservationDetail().percentage">
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: resetModalValues">Cancel</button>
                @if (await _config.GetSiteConfigValue(ConfigKey.ShowPreservationPercentage) == "true")
                {
                    <button type="button" class="btn btn-primary" data-bind="click: modalSubmit, text: modal.mode"></button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" data-bind="click: modalSubmitNoPercentage, text: modal.mode"></button>
                }
            </div>
        </div>
    </div>
</div>
