@model Directory.Pages.Components.PostLogoutRedirect.PostLogoutRedirectViewModel
@{
    Layout = "_Layout";

    var postLogoutRedirectElementId = "post-logout-redirect";
}

<h1>You are now logged out.</h1>

@if (Model.PostLogoutRedirectUri is { })
{
    <div>
        Click <a id="@postLogoutRedirectElementId" href="@Model.PostLogoutRedirectUri">here</a> to return to the
        <span>@Model.ClientName</span> application.
    </div>
}

@if (Model.SignOutIframeUrl is { })
{
    <iframe width="0" height="0" style="display: none" src="@Model.SignOutIframeUrl"></iframe>
}

@section Scripts {
    <script>
        const ready = () => {
            if (document.readyState == "complete") {
                __UKCRC_TDCC__.Redirect(document
                    .getElementById("@postLogoutRedirectElementId")
                    .href);
                return true;
            } else return false;
        };

        if (!ready()) document.onreadystatechange = ready;
    </script>
}