@using System.Configuration
@using Biobanks.Web.Models.Home
@using Biobanks.Directory.Data.Constants
@model HomepageContentModel
@using (Html.BeginForm("Unified", "Search", null, FormMethod.Get))
{

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-10">
            <h2>@Model.PublicationsSearchTitle</h2>
        </div>

        <div class="col-lg-2">
            <div class="circle circle-blue">1</div>
        </div>
        <div class="col-lg-10">
            @Model.PublicationsSearchSubTitle
            <div class="search-info row-buffer">
                <fieldset>
                    <legend class="sr-only">Search for</legend>
                    <label class="radio-inline">
                        <input type="radio" name="searchRadio" id="Collections" value="Collections" checked="checked">@Model.SearchRelatedPublications
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="searchRadio" id="Capabilities" value="Capabilities"> @Model.SearchRelatedBiobanks
                    </label>
                </fieldset>
            </div>
        </div>
    </div>
    <hr class="full" />


    <div class="row row-buffer ">

        <div class="col-lg-2">
            <div class="circle circle-orange">2</div>
        </div>
        <div class="col-lg-10">
            Please enter the Publication ID and Source <br />
            <div class="row-buffer">
                @Html.TextBox("publicationId", "", new { @class = "form-control publication-search", autocomplete = "off", placeholder = "Enter a Publication ID", title = "Search", @maxLength = "11" })
            </div>

            <div class="row-buffer">
                @Html.TextBox("publicationSource", "", new { @class = "form-control publication-search", autocomplete = "off", placeholder = "Enter a Publication Source", title = "Search", @maxLength = "3" })
            </div>
        </div>
    </div>


    <hr class="full" />
    <div class="row">
        <div class="col-lg-2">
            <div class="circle circle-black">3</div>
        </div>
        <div class="col-lg-10">
            <button type="submit" class="submit btn btn-search">Search</button>
        </div>
    </div>
}

