@model Biobanks.Submissions.Api.Areas.Biobank.Models.AddCollectionModel
@{
    ViewBag.Title = "Add collection";
}

@*
 @section FooterScripts
{
    @Scripts.Render("~/bundles/collection-and-capability-crud")
    @Scripts.Render("~/bundles/help-buttons")
}
*@

<h2>@ViewBag.Title</h2>

<partial name ="_DataProtectionAlert">

@using (Html.BeginForm("AddCollection", "Biobank", FormMethod.Post, new { @class = "form-horizontal col-sm-10" }))
{
    @Html.AntiForgeryToken()

    <partial name ="_CollectionSharedFields" model = "Model"/>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 text-center">
            @Html.ActionLink("Cancel", "Collections", null, new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-primary">Create collection</button>
        </div>
    </div>
}
