@using Biobanks.Submissions.Api.Models.Emails
@model NewUserRegisterEntityAcceptedModel
@inject IHostEnvironment HostEnvironment
@inject IOptions<SitePropertiesOptions> _config

@{
    var directoryName = @_config.Value.ServiceName;
    var emailSignature = @_config.Value.EmailSignature;

	// Format Email Subject
	ViewBag.Subject = HostEnvironment.IsDevelopment()
		? $"{directoryName} {ViewBag.Entity} Administration"
		: $"{directoryName} {ViewBag.Entity} Administration (Environment: {HostEnvironment.EnvironmentName})";
}

Dear @Html.Raw(Model!.name)

Thanks for your interest in the @directoryName.

We have received your registration for @Html.Raw(Model.entity).

<a hreft="@Html.Raw(Model.confirmLink)">Please click this link to complete registration and set your password. </a> 

Regards,
@emailSignature
