@using Biobanks.Submissions.Api.Models.Emails
@model NewUserRegisterEntityAcceptedModel
@inject IOptions<SitePropertiesOptions> _config

@{
    var directoryName = @_config.Value.ServiceName;
    var emailSignature = @_config.Value.EmailSignature;

    // Format Email Subject
    ViewBag.Subject = $"{directoryName} {ViewBag.Entity} Registration";
}

Dear @Html.Raw(Model!.name)

Thanks for your interest in the @directoryName.

We have received your registration for @Html.Raw(Model.entity).

<a href="@Html.Raw(Model.confirmLink)">Please click this link to complete registration and set your password. </a> 

Regards,
@emailSignature
