@using Biobanks.Directory.Data.Constants;
@model string

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation"
                class="@(Model == (string)App.Config[ConfigKey.SampleResourceName] + " Details" ? "active" : "true")">
                @Html.ActionLink((string)App.Config[ConfigKey.SampleResourceName] + " Details", "Index")
            </li>
            <li role="presentation"
                class="@(Model == "Submissions" ? "active" : "true")">
                @Html.ActionLink("Submissions", "Submissions")
            </li>
            <li role="presentation"
                class="@(Model == "Admins" ? "active" : "true")">
                @Html.ActionLink("Admins", "Admins")
            </li>

            <li role="presentation"
                class="@(Model == "Funders" ? "active" : "true")">
                @Html.ActionLink("Funders", "Funders")
            </li>

            <li role="presentation"
                class="@(Model == "Collections" ? "active" : "true")">
                @Html.ActionLink("Collections", "Collections")
            </li>

            <li role="presentation"
                class="@(Model == "Capabilities" ? "active" : "true")">
                @Html.ActionLink("Capabilities", "Capabilities")
            </li>

            @if (App.Config[ConfigKey.TrustBiobanks] != "false")
            {
                <li role="presentation"
                    class="@(Model == "Network Acceptance" ? "active" : "true")">
                    @Html.ActionLink("Network Acceptance", "NetworkAcceptance")
                </li> 
            }

            @if (App.Config[ConfigKey.DisplayPublications] != "false")
            {
                <li role="presentation"
                    class="@(Model == "Publications" ? "active" : "true")">
                    @Html.ActionLink("Publications", "Publications")
                </li>
            }

            <li role="presentation"
                class="@(Model == "Annual Stats" ? "active" : "true")">
                @Html.ActionLink("Annual Stats", "AnnualStats")
            </li>
            @if (App.Config[ConfigKey.DisplayAnalytics] != "false")
            {
                <li role="presentation"
                    class="@(Model == "Analytics" ? "active" : "true")">
                    @Html.ActionLink("Analytics", "Analytics")
                </li>
            }
        </ul>
    </div>
</div>