@using System.Configuration
@using System.Web.Optimization

@model Biobanks.Web.Models.Biobank.BiobankAnnualStatsModel
@{
    ViewBag.Title = "Annual Stats";
}

@Html.Partial("_BiobankTabs", "Annual Stats")

<h3>
    @ViewBag.Title
</h3>

<div class="row">
    <div class="alert alert-info feedback-message annualstats-feedback" role="alert">
        Changes are saved automatically.
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th rowspan="2">Year</th>
                    @foreach (var annualStatsGroup in Model.AnnualStatisticGroups)
                    {
                        <th colspan="@(annualStatsGroup.AnnualStatistics.Count)" class="text-center">@annualStatsGroup.Value</th>
                    }
                </tr>

                <tr>
                    @foreach (var annualStatsGroup in Model.AnnualStatisticGroups)
                    {
                        foreach (var annualStat in annualStatsGroup.AnnualStatistics)
                        {
                            <th class="text-center">@annualStat.Value</th>
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @for (var year = int.Parse(ConfigurationManager.AppSettings["AnnualStatsStartYear"]); year <= DateTime.Now.Year; year++)
                {
                    <tr>
                        <td>@year</td>
                        @foreach (var annualStatsGroup in Model.AnnualStatisticGroups)
                        {
                            foreach (var annualStat in annualStatsGroup.AnnualStatistics)
                            {
                                var statValue = Model.BiobankAnnualStatistics.FirstOrDefault(bas => bas.AnnualStatisticId == annualStat.Id && bas.Year == year)?.Value;
                                <td class="text-center">
                                    <input type="number" min="0" class="form-control annualstats-input" data-year="@year" data-statistic="@annualStat.Id" value="@statValue" />
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section FooterScripts
{
    <script type="text/javascript">
        var annualStatUpdateUrl = "@Url.Action("UpdateAnnualStatAjax")";
    </script>

    @Scripts.Render("~/bundles/biobank/annualstats")
    
     @* TODO: Core bundles
    <script src="~/dist/js/Biobank/annualstats.min.js" asp-append-version="true"></script>
    *@
}
