@using System.Linq
@using System.Web.Optimization
@model int
@{
    ViewBag.Title = "Publications";
}

@Html.Partial("_BiobankTabs", "Publications")

<h3>
    @ViewBag.Title
</h3>

<span id="BiobankId" data-biobank-id="@Model"></span>

<div class="row">
    <div class="col-md-12">
        <br />

        <div class="alert alert-info feedback-message annualstats-feedback" role="alert">
            Approving publications will help people find you by your research.
        </div>

        @*Enable/Disable Publications*@
        <div class="row">
            <div class="col-md-12">
                <label class="switch switch-label pull-right" title="Enable/Disable Publications">On/Off</label>
            </div>
        </div>
        <label class="switch pull-right" title="Enable/Disable Publications">
            <input id="IncludePublications" type="checkbox">
            <span class="slider round"></span>
        </label>

        <table id="biobank-publications" class="table table-striped table-hover" style="width:100%"></table>
    </div>
</div>

@section FooterScripts
{
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/biobank/publications")
}