@model IEnumerable<Biobanks.Directory.Areas.Admin.Models.Requests.BiobankActivityModel>
@{
    ViewBag.Title = "Biobanks Activity";
}

@await Html.PartialAsync("_ADACTabs", "BiobankActivity")

<div class="row">

    <div class="col-sm-2">

        <div class="sidebar-nav">

            <ul class="nav flex-column vd">

                <li class="nav-item">
                    <a class="nav-link" href="#">Biobanks Activity</a>
                </li>

            </ul>

        </div>

    </div>
    <div class="col-sm-9">

        <h3>@ViewBag.Title</h3>

        @if (@Model.Any())
        {
            <table id="adac-biobanks" class="table table-striped">
                <thead>
                    <tr>
                        <th>Biobank</th>
                        <th>Contact Email</th>
                        <th>Last Updated</th>
                        <th>Last Collection Added</th>
                        <th>Last Capability Added</th>
                        <th>Last Admin Login</th>
                        <th>Last Admin Login Email</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var biobank in Model)
                    {
                        <tr>
                            <td class="vtop">@biobank.Name</td>
                            <td class="vtop"><a href="mailto:@biobank.ContactEmail">@biobank.ContactEmail</a></td>
                            <td class="vtop">@biobank.LastUpdated</td>
                            <td class="vtop">@biobank.LastCollectionUpdated</td>
                            <td class="vtop">@biobank.LastCapabilityUpdated</td>
                            <td class="vtop">@biobank.LastAdminLoginTime</td>
                            <td class="vtop"><a href="mailto:@biobank.LastAdminLoginEmail">@biobank.LastAdminLoginEmail</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info">
                There are currently no Biobanks in the directory.
                @Html.ActionLink("Invite a new Biobank now", "AdacBiobank", "Register")
            </div>
        }

    </div>

</div>

@*
@section FooterScripts
{
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/adac/biobankactivity")
}
*@
