@model IEnumerable<Biobanks.Submissions.Api.Models.Shared.SiteConfigModel>

@{ ViewBag.Title = "Flags Config"; }


<h3>
    Flags Configuration
    <label id="submit-button" for="submit-form" class="btn btn-success pull-right">Save Changes</label>
</h3>

<div class="row">
    <div class="col-sm-12">
        <br />

        <form id="flags-config-form">
            <h3>Feature Flags</h3>
            <table id="flags-config" class="table table-striped table-fixed">
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Description</th>
                        <th>On/Off</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var config in Model.Where(x => !x.ReadOnly).Where(x => x.IsFeatureFlag == true))
                    {
                        <tr>
                            <td>@config.Name</td>
                            <td>@config.Description</td>
                            <td>
                                <input type="checkbox" name="@config.Key" value="@config.Value" @Html.Raw(config.ReadOnly ? "disabled" : "")/>
                            </td>
                        </tr>
                     }
                </tbody>
            </table>
            <br />
            <h3>Config Flags</h3>
            <br />
            <table id="flags-config" class="table table-striped table-fixed">
                <thead>
                    <tr>
                        <th>Config Option</th>
                        <th>Description</th>
                        <th>On/Off</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var config in Model.Where(x => !x.ReadOnly).Where(x => x.IsFeatureFlag == false || x.IsFeatureFlag == null))
                    {
                        <tr>
                            <td>@config.Name</td>
                            <td>@config.Description</td>
                            <td>
                               <input type="checkbox" name="@config.Key" value="@config.Value" @Html.Raw(config.ReadOnly ? "disabled" : "") />                  
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <input type="submit" id="submit-form" class="hidden" />
        </form>
    </div>
</div>

@section FooterScripts
{
  <script src="~/dist/js/Flags/flags-config.min.js" asp-append-version="true"></script>
}
