
@using Biobanks.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@model Biobanks.Directory.Areas.Biobank.Models.Settings.BiobankAdminsModel

@{
    ViewBag.Title = "Admins";
}


@await Html.PartialAsync("_BiobankTabs", "Admins")

<h3>Biobank admins <a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#modalInviteBiobankAdmin" data-bind="click: openInviteDialog">Add new admin</a></h3>

<span id="BiobankId" data-biobank-id="@Model.BiobankId"></span>

<div class="row">
    <div class="col-sm-12">
        <br />
        <table id="biobank-admins" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr class="datatables-fixed-row">
                    <td>
                        <span class="fa fa-user labelled-icon"></span>
                        <strong>@userManager.GetUserName(User)</strong>
                    </td>
                    <td>
                        <strong>@User.Identity.Name</strong>
                    </td>
                    <td></td>
                </tr>

                @foreach (var admin in Model.Admins)
            {
                    <tr>
                        <td>
                            <span class="fa fa-user labelled-icon"></span>
                            @admin.UserFullName
                        </td>
                        <td>
                            @admin.UserEmail
                        </td>
                        <td>
                            <div class="pull-right">

                                @if (!admin.EmailConfirmed)
                                {
                                    <a href="@Url.Action(
                                               "ResendConfirmLink", "Account",
                                               new
                                               {
                                                 Area = "",
                                                 userEmail = admin.UserEmail,
                                                 onBehalf = true,
                                                 returnUrl = Model.RequestUrl
                                               })"
                                       class="confirm-resend"
                                       data-admin-name="@admin.UserFullName">
                                        <span class="fa fa-repeat labelled-icon"></span>Resend Invite
                                    </a>
                                }
                                &nbsp;
                                <a href="@Url.Action("DeleteAdmin", new {biobankId = Model.BiobankId, biobankUserId = admin.UserId, userFullName = admin.UserFullName})"
                                   class="confirm-delete"
                                   data-admin-name="@admin.UserFullName">
                                    <span class="fa fa-trash labelled-icon"></span>Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div id="modalInviteBiobankAdmin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalInviteBiobankAdmin_Label"
     data-resource-url="@Url.Action("InviteAdminAjax", "Settings", new { biobankId = Model.BiobankId })">
</div>

@section FooterScripts
{
    <script src="~/dist/js/Biobank/admins.min.js" asp-append-version="true"></script>
    <script src="~/dist/js/Biobank/registerentity-admin.min.js" asp-append-version="true"></script>
}
