@model Biobanks.Submissions.Api.Areas.Biobank.Models.Settings.SubmissionsModel;

@{
    ViewBag.Title = "Bulk Submissions";
}

@await Html.PartialAsync("_BiobankTabs", "Submissions")

<h2>
    @ViewBag.Title
</h2>

<p>
        If you need to bulk submit data, instructions on how to interact with the submissions API can be
        found <a href="https://docs.biobankinguk.org/">here</a>.
    </p>

@* Default Values For Aggregation *@
<h3>Default values</h3>
<p>The values to be associated with collections that are generated from API submitted samples.</p>

@using (@Html.BeginForm(
            "Submissions",
            "Settings"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <h4 class="required">
                @Html.DisplayNameFor(x => x.AccessCondition)
                <span class="fa fa-info-circle help-icon-button help-icon-for-label help-label-collection-accesscondition"></span>
            </h4>
        </div>
        <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-6">
                @for (var i = 0; i < Model.AccessConditions.Count(); i++)
                {
                    var accessCondition = Model.AccessConditions.ElementAt(i);

                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(x => x.AccessCondition, accessCondition.Id,
                 accessCondition.Id == Model.AccessCondition ? new { @checked = "checked" } : null)
                            @Html.Raw(accessCondition.Description)
                        </label>
                    </div>

                    if (i == Math.Ceiling((decimal)Model.AccessConditions.Count() / 2) - 1)
                    {
                        @Html.Raw("</div>\n<div class=\"col-sm-6\">")
                    }
                }
            </div>
            @Html.ValidationMessageFor(x => x.AccessCondition)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <h4 class="required">
                @Html.DisplayNameFor(x => x.CollectionType)
                <span class="fa fa-info-circle help-icon-button help-icon-for-label help-label-collection-collectiontype"></span>
            </h4>
        </div>
        <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-6">
                @for (var i = 0; i < Model.CollectionTypes.Count(); i++)
                {
                    var collectionType = Model.CollectionTypes.ElementAt(i);

                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(x => x.CollectionType, collectionType.Id,
                 collectionType.Id == Model.CollectionType ? new { @checked = "checked" } : null)
                            @Html.Raw(collectionType.Description)
                        </label>
                    </div>

                    if (i == Math.Ceiling((decimal)Model.CollectionTypes.Count() / 2) - 1)
                    {
                        @Html.Raw("</div>\n<div class=\"col-sm-6\">")
                    }
                }
            </div>
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.CollectionType)
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" name="submit" class="btn btn-primary pull-right">Save Changes</button>
        </div>
    </div>
}


@* API Credentials *@
<h3>Submission API Authentication</h3>

@* API Client Credential Only Accessible Once Organisation Defaults Are Set *@
@if (Model.AccessCondition != null && Model.CollectionType != null)
{
    <!--Biobank ID -->
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <h4>
                @Html.DisplayName("Biobank Id")
            </h4>
        </div>
        <div class="col-sm-5">
            @Model.BiobankId
        </div>
    </div>

    <!-- Client ID -->
    <div class="row form-group">
        <div class="col-sm-2 col-sm-offset-1">
            <h4>
                @Html.DisplayName("Client ID")
                <span class="fa fa-info-circle help-icon-button help-icon-for-label help-label-submissions-publickey"></span>
            </h4>
        </div>
        <div class="col-sm-5">
            <input type="text" id="clientId" name="clientId" value=@Model.ClientId class="form-control" readonly="readonly" />
        </div>
        <div class="col-sm-2">
            <button data-target="clientId" class="copy-text btn btn-default">Copy</button>
        </div>
        @if (Model.ClientId != null)
        {
            <div class="col-sm-10 col-sm-offset-1 alert-container">
                <div class="alert alert-warning">
                    <label>Generating a new Client Secret will override your previous Client Secret. Your Client ID will remain unchanged.</label>
                </div>
            </div>
        }
    </div>

    <!-- Client Secret -->
    <div id="clientSecretWrapper" class="row form-group" hidden>
        <div class="col-sm-2 col-sm-offset-1">
            <h4>
                @Html.DisplayName("Client Secret")
                <span class="fa fa-info-circle help-icon-button help-icon-for-label help-label-submissions-privatekey"></span>
            </h4>
        </div>
        <div class="col-sm-5">
            <input type="text" id="clientSecret" name="clientSecret" class="form-control" readonly="readonly" />
        </div>
        <div class="col-sm-2">
            <button data-target="clientSecret" class="copy-text btn btn-default">Copy</button>
        </div>
        <div class="col-sm-10 col-sm-offset-1 alert-container">
            <div class="alert alert-warning">
                <label>Your Client ID will only be displayed once! You are advised to copy it now and store it in a safe place.</label>
            </div>
        </div>
    </div>

    <!-- Generate New Secret -->
    <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" id="generatekey" data-generate-url="@Url.Action("GenerateApiKeyAjax", "Settings", new { biobankId = Model.BiobankId })" data-biobank-id="@Model.BiobankId"
                    class="btn btn-success pull-right">
                Generate New Client Secret
            </button>
        </div>
    </div>
}
else
{
    <div class="alert alert-info">
        <label>API default values must be selected before generating API credentials.</label>
    </div>
}

@section FooterScripts
{
    <script src="~/dist/js/Biobank/submissions.min.js" asp-append-version="true"></script>
    <script src="~/dist/js/Biobank/help-buttons.min.js" asp-append-version="true"></script>
}
