@model Biobanks.Directory.Models.Shared.AssociatedDataTypesModel

@{
    ViewBag.Title = "Associated Data Types";

    var groups = Model.AssociatedDataTypeGroups.Select(x => new
    {
        name = x.Name,
        value = x.AssociatedDataTypeGroupId
    });
}

@await Html.PartialAsync("_ADACTabs", (string)ViewBag.Title)

<h3>
    Associated Data Types
    <a href="#"
       class="btn btn-success pull-right"
       data-target="#associated-types-modal"
       data-bind="click: openModalForAdd">Add Type</a>
</h3>

<div class="row">
    <div class="col-sm-12">
        <br />

        <table id="associated-types" class="table table-striped table-fixed">

            <thead>
                <tr>
                <tr>
                    <th>Description</th>
                    <th>Collection and Capability Count</th>
                    <th>Ontology Terms</th>
                    <th>@* Actions *@</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var group in Model.AssociatedDataTypes.GroupBy(x => x.AssociatedDataTypeGroupId))
                {
                    <tr class="active">
                        <td><b>@group.First().AssociatedDataTypeGroupName</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    foreach (var item in group)
                    {
                        <tr class="@(item.CollectionCapabilityCount > 0 ? "info" : "")">

                            <td>@item.Name</td>
                            <td>@item.CollectionCapabilityCount</td>
                            <td>
                                @if (@item.OntologyTerms == null)
                                {
                                    @Html.Raw("")

                                }
                                else
                                {
                                    // map list of ontology terms to their names and print out
                                    // the array of names
                                    string[] stringList = item.OntologyTerms.Select(r => "<li>"+r.Description+"</li>").ToArray();
                                    string outputString = "<ul>" + String.Join("", stringList) + "</ul>";
                                    @Html.Raw(outputString)

                                }
                            </td>

                            <td class="text-right">
                                @if (item.CollectionCapabilityCount > 0)
                                {
                                    <span class="fa fa-info-circle labelled-icon"></span>@Html.Raw("Associated Data Type in use")
                                }
                                else
                                {
                                    <a title="Edit"
                                       class="action-icon"
                                       href="#"
                                       data-target="#associated-types-modal"
                                       data-associated-types='@Json.Serialize(item)'
                                       data-bind="click: openModalForEdit">
                                        <span class="fa fa-edit labelled-icon"></span>Edit
                                    </a>

                                    <a title="Delete"
                                       class="action-icon delete-confirm"
                                       data-refdata-model='@Json.Serialize(item)'
                                       data-resource-url="/api/AssociatedDataType"
                                       data-success-redirect="@Url.Action("AssociatedDataTypes")"
                                       data-refdata-type="Associated Data Type"
                                       href="#">
                                        <span class="fa fa-trash labelled-icon"></span>Delete
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }



            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="associated-types-modal" tabindex="-1" role="dialog" aria-labelledby="associated-types-label" data-groups='@Json.Serialize(groups)'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="associated-types-modal-label"><span data-bind="text: modal.mode"></span> Associated Data Types</h4>
            </div>

            <!-- Error List -->
            <div class="row">
                <div class="col-sm-12" data-bind="visible: dialogErrors().length > 0">
                    <div class="alert alert-danger"
                         data-valmsg-summary="true"
                         data-bind="foreach: dialogErrors">
                        <p>
                            <span class="fa fa-exclamation-triangle"></span>
                            <span data-bind="text: $data"></span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Modal Form -->
            <form id="modal-associated-types-form"
                  data-resource-url="/api/AssociatedDataType"
                  data-success-redirect="@Url.Action("AssociatedDataTypes")"
                  data-refdata-type="Associated Data Type"
                  class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" id="Id" name="Id" data-bind="value: modal.associatedDataType().id">
                            <input type="hidden" id="OntologyTermsJson" name="OntologyTermsJson" data-bind="value: ko.toJSON(modal.associatedDataType().ontologyTerms)">

                            <!-- Annual Statistic -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" id="Name" name="Name" class="form-control" data-bind="value: modal.associatedDataType().name()">
                                </div>
                            </div>

                            <!-- Annual Statistic -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Message</label>
                                <div class="col-sm-9">
                                    <input type="text" id="Message" name="Message" class="form-control" data-bind="value: modal.associatedDataType().message()">
                                </div>
                            </div>

                            <!-- Groups -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Group</label>
                                <div class="col-sm-9">
                                    <select id="AssociatedDataTypeGroupId" name="AssociatedDataTypeGroupId"
                                            data-bind="options: modal.groups, optionsText: 'name', optionsValue: 'value', value: modal.associatedDataType().groupId()">
                                    </select>
                                </div>
                            </div>

                            <!-- Ontology Terms -->
                            <div data-bind="foreach: modal.associatedDataType().ontologyTerms">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" data-bind="visible: $index() < 1">Ontology Terms</label>
                                    <div class="col-sm-8" data-bind="css: { 'col-sm-offset-3': $index() > 0 }">
                                        <input type="text" class="form-control" disabled
                                               data-bind="value: description">
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="fa fa-minus-circle btn btn-default form-control-static pull-right"
                                                data-bind="click: function() { $parent.removeOntologyTerm($index())}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div id="bloodhound" class="form-group">
                        <label for="Diagnosis" class="col-sm-4 control-label" aria-required="true">
                            Find Disease status
                        </label>
                        <div class="col-sm-8">
                            <span class="twitter-typeahead" style="position: relative; display: inline-block;"><input autocomplete="off" class="form-control diagnosis-search tt-input" data-val="true" id="Diagnosis" name="Diagnosis" type="text" value="" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Montserrat, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div class="tt-dataset tt-dataset-desc"></div></div></span>
                            <span class="field-validation-valid" data-valmsg-for="Diagnosis" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success" id="diagnosis-submit" data-bind="click: addOntologyTerm" disabled>Add Ontology Term</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bind="text: modal.mode"></button>
                </div>
            </form>
        </div>
    </div>
</div>


@section FooterScripts
{
  <script src="~/dist/js/Admin/associated-data-types.min.js" asp-append-version="true"></script>
}
