@model Biobanks.Directory.Areas.Admin.Models.ReferenceData.ExtractionProceduresModel

@{
    ViewBag.Title = "Extraction Procedures";
}

@await Html.PartialAsync("_ADACTabs", (string)ViewBag.Title)

<h3>
    Extraction Procedures
    <a href="#"
       class="btn btn-success pull-right"
       data-target="#extraction-procedure-modal"
       data-bind="click: openModalForAdd">Add Extraction Procedure</a>
</h3>

<div class="row">
    <div class="col-sm-12">
        <br />
        <table id="extraction-procedures" class="table table-striped table-fixed">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Extraction Procedure ID</th>
                    <th>Material Types</th>
                    <th>Material Details Count</th>
                    <th>Displayed On Directory</th>
                    <th>@* Actions *@</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var ontologyTerm in Model.ExtractionProcedures)
                {
                    <tr class="@(ontologyTerm.MaterialDetailsCount > 0 ? "info" : "")">
                        <td>
                            <div class="wrappable-td">@Html.DisplayFor(x => ontologyTerm.Description)</div>
                        </td>
                        <td>
                            @Html.DisplayFor(x => ontologyTerm.OntologyTermId)
                        </td>
                        <td><div class="wrappable-td">@string.Join(" / ", Model.MaterialTypes.Where(x=>ontologyTerm.MaterialTypeIds.Contains(x.Id)).Select(x=>x.Value))</div></td>
                        <td>@ontologyTerm.MaterialDetailsCount</td>
                        <td>@ontologyTerm.DisplayOnDirectory.ToString()</td>

                        <td class="text-right">
                            @if (ontologyTerm.MaterialDetailsCount > 0)
                            {
                                <span class="fa fa-info-circle labelled-icon"></span>@Html.Raw("Extraction Procedure in use")
                                //Allow editing of 'other terms' only
                                <a title="Edit"
                                   class="action-icon"
                                   href="#"
                                   data-target="#extraction-procedure-modal"
                                   data-extraction-procedure="@Json.Serialize(ontologyTerm)"
                                   data-bind="click: openModalForEdit"
                                   data-partial-edit="true">
                                    <span class="fa fa-edit labelled-icon"></span>Edit
                                </a>
                            }
                            else
                            {
                                <a title="Edit"
                                   class="action-icon"
                                   href="#"
                                   data-target="#extraction-procedure-modal"
                                   data-extraction-procedure='@Json.Serialize(ontologyTerm)'
                                   data-bind="click: openModalForEdit">
                                    <span class="fa fa-edit labelled-icon"></span>Edit
                                </a>

                                <a title="Delete"
                                   class="action-icon delete-confirm"
                                   data-refdata-model='@Json.Serialize(ontologyTerm)'
                                   data-resource-url="/api/ExtractionProcedure"
                                   data-success-redirect="@Url.Action("ExtractionProcedure")"
                                   data-refdata-type="Extraction Procedure"
                                   href="#">
                                    <span class="fa fa-trash labelled-icon"></span>Delete
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="extraction-procedure-modal" tabindex="-1" role="dialog" 
     aria-labelledby="extraction-procedure-modal-label" 
     data-material-types='@Json.Serialize(Model.MaterialTypes.Select(x => new {id = x.Id, value = x.Value}))'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="extraction-procedure-modal-label"><span data-bind="text: modal.mode"></span> extraction procedure</h4>
            </div>

            <div class="row">
                <div class="col-sm-12" data-bind="visible: dialogErrors().length > 0">
                    <div class="alert alert-danger"
                         data-valmsg-summary="true"
                         data-bind="foreach: dialogErrors">
                        <p>
                            <span class="fa fa-exclamation-triangle"></span>
                            <span data-bind="text: $data"></span>
                        </p>
                    </div>
                </div>
            </div>

            <form id="modal-extraction-procedure-form"
                  data-resource-url="/api/ExtractionProcedure"
                  data-success-redirect="@Url.Action("ExtractionProcedure")"
                  data-refdata-type="Extraction Procedure"
                  class="form-horizontal">

                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">

                            <input type="hidden" id="Id" name="Id" data-bind="value: modal.extractionProcedure().ontologyTermId()">
                            <!-- SNOMED ID -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Extraction Procedure ID</label>
                                <div class="col-sm-9">
                                    <input type="text" id="OntologyTermId" name="OntologyTermId" class="form-control"
                                           data-bind="value: modal.extractionProcedure().ontologyTermId()" maxlength="20">
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" id="Description" name="Description" class="form-control"
                                           data-bind="value: modal.extractionProcedure().description()">
                                </div>
                            </div>

                            <!-- Material Types -->
                            <div data-bind="foreach: modal.extractionProcedure().materialTypeIds()">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" data-bind="visible: $index() < 1">Material Type</label>
                                    <div class="col-sm-8" data-bind="css: { 'col-sm-offset-3': $index() > 0 }">
                                        <select name="MaterialTypeIds" class="form-control"
                                                data-bind="options: $parent.modal.materialTypes, optionsText: 'value', optionsValue: 'id', value: $parent.modal.extractionProcedure().materialTypeIds()[$index()]">
                                        </select>

                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="fa fa-minus-circle btn btn-default form-control-static pull-right"
                                                data-bind="click: function() { $parent.removeMaterialType($index())}" />
                                    </div>
                                </div>
                            </div>

                            <!-- Displayed On Directory Checkbox -->
                            <div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Displayed On Directory</label>
                                    <div class="col-sm-1">
                                        <input type="checkbox" id="DisplayOnDirectory" name="DisplayOnDirectory" class="form-control"
                                               data-bind="checked: modal.extractionProcedure().displayOnDirectory()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bind="click: addMaterialType">Add Material Type</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bind="text: modal.mode"></button>
                </div>
            </form>
        </div>
    </div>
</div>

@section FooterScripts
{
  <script src="~/dist/js/Admin/extraction-procedure.min.js" asp-append-version="true"></script>
}
