@using System.Configuration
@using Biobanks.Submissions.Api.Config
@using Microsoft.Extensions.Options

@inject IOptions<SitePropertiesOptions> _options;

@model Biobanks.Submissions.Api.Models.Shared.AbstractCRUDCapabilityModel

<div id="bloodhound" class="form-group">
  <label for="Diagnosis" class="col-sm-4 control-label required">
    @Html.DisplayNameFor(x => x.Diagnosis)
    <span class="fa fa-info-circle help-icon-button help-icon-for-label help-label-diseasestatus"></span>
  </label>
  <div class="col-sm-8">
    <span id="support-email" data-email="@_options.Value.SupportAddress"></span>
    @Html.TextBoxFor(x => x.Diagnosis, 
      new
      {
        @class = "form-control diagnosis-search", 
        autocomplete = "off",
        data_resource_url = Url.Action("GetAssociatedDataTypeViewsAjax", "Collections", new { Area = "Biobank", biobankId = ViewContext.RouteData.Values["biobankId"] }) 
      })
    @Html.ValidationMessageFor(x => x.Diagnosis)
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4 control-label">
    <label>Protocols</label>
    <span class="fa fa-info-circle help-icon-button help-icon-for-label help-label-capability-protocols"></span>
  </div>
    
  <div class="col-sm-8">
    <div class="checkbox">
      <label>
        @Html.CheckBoxFor(x => x.BespokeConsentForm) @Html.DisplayNameFor(x => x.BespokeConsentForm)
      </label>
    </div>
    <div class="checkbox">
      <label>
        @Html.CheckBoxFor(x => x.BespokeSOP) @Html.DisplayNameFor(x => x.BespokeSOP)
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4 control-label required">
    @Html.LabelFor(x => x.AnnualDonorExpectation)
    <span class="fa fa-info-circle help-icon-button help-icon-for-label help-label-capability-annualdonorexpectation"></span>
  </div>
    
  <div class="col-sm-3">
    @Html.TextBoxFor(x => x.AnnualDonorExpectation, new {@class = "form-control", type = "number", placeholder = "e.g. 120"})
  </div>
  <div class="col-sm-offset-4 col-sm-8">
    @Html.ValidationMessageFor(x => x.AnnualDonorExpectation)
  </div>
</div>

@await Html.PartialAsync("_AssociatedData", Model)
