@model Biobanks.Submissions.Api.Areas.Biobank.Models.Capabilities.CapabilityModel

@{
    ViewBag.Title = "Capability";
}

@section FooterScripts
{
  <script src="~/dist/js/Biobank/capability.min.js" asp-append-version="true"></script>
}

<div class="row">
    <div class="col-sm-6">
        <h2 style="margin-top: 0;">@ViewBag.Title</h2>
    </div>
    <div class="col-sm-6 text-right">
        @using (Html.BeginForm(
            "DeleteCapability", "Capabilities",  new{ Area = "Biobank", biobankId = ViewContext.RouteData.Values["biobankId"], id = Model.Id},
            FormMethod.Post, null,
            new
            {
                @class = "pull-right",
                id = "DeleteCapability"
            }
          ))
        {
            @Html.ActionLink("Edit", "EditCapability", new { biobankId = ViewContext.RouteData.Values["biobankId"], id = Model.Id}, new {@class = "btn btn-primary"})
            @Html.AntiForgeryToken()
            @Html.Hidden("id", Model.Id)
            <button type="submit" class="btn btn-default bootbox-confirm" data-form-id="DeleteCapability" data-confirm-message = "Are you sure you wish to delete this capability?">Delete</button>
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-condensed">
            <thead>
            <tr><th colspan="2"><h4>Capability details</h4></th></tr>
            </thead>
            <tbody>
                <tr><td><strong>Disease status</strong></td><td>@Model.OntologyTerm</td></tr>
                <tr><td><strong>Protocols</strong></td><td>@Model.Protocols</td></tr>
                <tr><td><strong>Annual donor expectation</strong></td><td>@Model.AnnualDonorExpectation</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        @if (Model.AssociatedData.Any())
        {
            <table id="ass-dat" class="table table-condensed table-striped marginless-datatable">
                <thead>
                <tr>
                    <th colspan="2"><h4>Associated data</h4></th>
                </tr>
                <tr>
                    <th>Associated data type</th>
                    <th>Procurement timeframe</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var data in Model.AssociatedData)
                {
                    <tr>
                        <td>
                            @data.Description
                        </td>
                        <td data-order="@data.ProvisionTimeSortValue">
                            @data.ProvisionTime
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <table class="table table-condensed table-striped">
                <thead>
                    <tr><th><h4>Associated data</h4></th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="alert alert-info">
                                There are no associated data for this capability yet.
                                @Html.ActionLink("Edit the capability now.", "EditCapability", new { Model.Id })
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>
