@model Biobanks.Submissions.Api.Areas.Admin.Models.PagesAdmin.ContentPageModel
@{
    ViewBag.Title = "Create & Edit Content Page";
}

<h3>
    CreateEdit

    <label id="submit-button" for="submit-form" class="btn btn-success pull-right">Save Changes</label>
    <label id="preview-button" for="preview-form" class="btn btn-primary pull-right pull-right-space">Preview</label>
</h3>

<div class="row">
    <div class="col-md-12">
        <br />

        <form id="contentpage-config-form" class="form-horizontal" method="post">
            <input type="submit" id="submit-form" class="hidden" formaction="../Submit" />
            <input type="submit" id="preview-form" class="hidden" formaction="../CreateEditPreview" />

            <div class="row">
                <div class="col-md-12">

                    <a class="icon-button"></a>


                    <input type="hidden" id="Id" name="Id" value="@Model.Id">

                    <!-- Title -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">Title</label>
                        <div class="col-md-10">
                            <input type="text" id="Title" name="Title" class="form-control" value="@Model.Title">
                        </div>
                    </div>

                    <!-- Route Slug -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">Route Slug</label>
                        <div class="col-md-10">
                            <input type="text" id="RouteSlug" name="RouteSlug" class="form-control" value="@Model.RouteSlug">
                        </div>
                    </div>


                    <!-- Page Body  -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">Page Body</label>
                        <div class="col-md-10">
                            <textarea cols=50 rows=8 id="Body" name="Body" class="form-control mdd_editor">@Model.Body</textarea>
                        </div>
                    </div>

                    <input type="hidden" id="LastUpdated" name="LastUpdated" value="@Model.LastUpdated">

                    <div class="form-group">
                        <label class="col-md-2 control-label">Enable Page</label>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(x => x.IsEnabled)
                                </label>
                            </div>
                        </div>                    
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
