@model IEnumerable<Biobanks.Submissions.Api.Areas.Admin.Models.PagesAdmin.ContentPageModel>

@{
	ViewBag.Title = "Content Page Admin";
}

@await Html.PartialAsync("_ADACTabs", "Content Pages")

<h3>
	@ViewBag.Title
	@Html.ActionLink("Create", "CreateEdit", "PagesAdmin", new { Id = "0" }, new { @class = "btn btn-success pull-right" })
</h3>
<br />
<div class="row">
  <table id="contentPages" class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Last Updated</th>
      <th>IsEnabled</th>
      <th></th>
    </tr>

    @foreach (var contentPage in Model)
    {
      <tr>
        <td><a href="@Url.Action("ContentPage", "PagesAdmin", new { slug = contentPage.RouteSlug })">@contentPage.Title</a></td>
        <td>@contentPage.RouteSlug</td>
        <td>@contentPage.LastUpdated.ToShortDateString()</td>
        <td>@contentPage.IsEnabled</td>
        <td class="text-right">
          <a href="@Url.Action("CreateEdit", "PagesAdmin", new { Area = "Admin", id = contentPage.Id })">
            <span class="fa fa-edit labelled-icon"></span>Edit
          </a>

          <a title="Delete"
             class="action-icon delete-confirm"
             data-refdata-model=@contentPage
             data-resource-url="/PagesAdmin/Delete"
             data-success-redirect="/PagesAdmin/Index"
             data-refdata-type="Content Page"
             href="#">
            <span class="fa fa-trash labelled-icon"></span>Delete
          </a>
        </td>
      </tr>
    }
  </table>
</div>

@section FooterScripts
{
  <script src="~/dist/js/Admin/pagesadmin.min.js" asp-append-version="true"></script>
}

