@using Microsoft.AspNetCore.Http.Extensions
@model Biobanks.Submissions.Api.Areas.Admin.Models.Biobanks.BiobankModel
@{
    ViewBag.Title = "Biobank Admin";
}

@await Html.PartialAsync("_ADACTabs", "Biobanks")


<h1>@Model.Name @Html.ActionLink("Delete", "DeleteBiobank", "Biobanks", new { id = @Model.BiobankId }, new { @class = "btn btn-danger" })</h1>

<span id="BiobankId" data-biobank-id="@Model.BiobankId"></span>

<h2>Details</h2>

<div class="row">
    <div class="col-md-12">
        <br />


        <div class="col-sm-12">
            <dl class="dl-horizontal dt-left">
                <!-- Biobank Email -->
                <dt>Email: </dt>
                <dd itemprop="email"><a href="mailto:@Model.ContactEmail">@Model.ContactEmail</a></dd>
                <!-- Biobank Status - Suspended or Active -->
                <dt>Status: </dt>
                <dd>
                    @(Model.IsSuspended ? Html.Raw("Suspended") : Html.Raw("Active"))
                    @if (Model.IsSuspended)
                    {
                        <a href="@Url.Action(
                                             "UnsuspendBiobank", "Biobanks",
                                             new
                                             {
                                                 id = Model.BiobankId
                                             })"
                           class="unsuspend-confirm"
                           data-biobank-name="@Model.Name">
                            <span class="fa fa-check-square-o labelled-icon"></span>Unsuspend
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action(
                                             "SuspendBiobank", "Biobanks",
                                             new
                                             {
                                                 id = Model.BiobankId
                                             })"
                           class="suspend-confirm"
                           data-biobank-name="@Model.Name">
                            <span class="fa fa-ban labelled-icon"></span>Suspend
                        </a>
                    }
                </dd>
            </dl>

        </div>
    </div>
</div>

<!--<h2>Administrators <a href="#modalInviteBiobankAdmin" class="btn btn-success pull-right" data-toggle="modal">Add new admin</a></h2>-->
<h2>Administrators</h2>
<div class="row col-sm-12">
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#modalInviteBiobankAdmin" data-bind="click: openInviteDialog">Add new admin</a>
</div>
<div class="row">
    <div class="col-sm-12">
        <br />
        <table id="biobank-admins" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact Email</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var admin in Model.Admins)
                {
                    <tr>
                        <td class="vtop">
                            @admin.UserFullName
                        </td>
                        <td class="vtop">
                            <a href="mailto:@admin.UserEmail">@admin.UserEmail</a>
                        </td>
                        <td>
                            <div class="pull-right">

                                @if (!admin.EmailConfirmed)
                                {
                                    <a href="@Url.Action(
                                        "ResendConfirmLink", "Account",
                                        new
                                        {
                                            Area = "",
                                            userEmail = admin.UserEmail,
                                            onBehalf = true,
                                            returnUrl = @Context.Request.GetEncodedUrl()
                                        })"
                                       class="confirm-resend"
                                       data-admin-name="@admin.UserFullName">
                                        <span class="fa fa-repeat labelled-icon"></span>Resend Invite
                                    </a>
                                }
                                &nbsp;
                                <a href="@Url.Action("DeleteAdmin", "Biobanks", new {biobankId = Model.BiobankId, biobankUserId = admin.UserId})"
                                   class="confirm-admin-delete"
                                   data-admin-name="@admin.UserFullName"
                                   data-biobank-name="@Model.Name">
                                    <span class="fa fa-trash labelled-icon"></span>Delete
                                </a>
                            </div>
                        </td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#modalInviteBiobankAdmin" data-bind="click: openResetBox('@admin.UserId','@admin.UserFullName')">Reset Password</a>                            
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<div id="modalInviteBiobankAdmin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalInviteBiobankAdmin_Label">

</div>

@section FooterScripts
{
  <script src="~/dist/js/Admin/biobanks.min.js" asp-append-version="true"></script>
}
