@using Biobanks.Submissions.Api.Config
@model string
@inject Biobanks.Submissions.Api.Services.Directory.IConfigService _config

@{
  var BiobankId = ViewContext.RouteData.Values["biobankId"];
}

<div class="row">
    <div class="col-md-12">
		<ul class="nav nav-tabs">
			<li role="presentation"
				class="@(Model == await _config.GetSiteConfigValue(ConfigKey.SampleResourceName) + " Details" ? "active" : "true")">
        @Html.ActionLink(await _config.GetSiteConfigValue(ConfigKey.SampleResourceName) + " Details", "Index", "Profile", new { biobankId = BiobankId})
      </li>
			<li role="presentation"
				class="@(Model == "Admins" ? "active" : "true")">
        @Html.ActionLink("Admins", "Admins", "Settings", new { biobankId = BiobankId })
      </li>

			<li role="presentation"
				class="@(Model == "Funders" ? "active" : "true")">
        @Html.ActionLink("Funders", "Funders", "Profile", new { biobankId = BiobankId })
      </li>

			<li role="presentation"
				class="@(Model == "Collections" ? "active" : "true")">
        @Html.ActionLink("Collections", "Index", "Collections", new { biobankId = BiobankId })
      </li>

			<li role="presentation"
				class="@(Model == "Capabilities" ? "active" : "true")">
        @Html.ActionLink("Capabilities", "Index", "Capabilities", new { biobankId = BiobankId })
      </li>

			@if (await _config.GetSiteConfigValue(ConfigKey.TrustBiobanks)!= null)
			{
				<li role="presentation"
					class="@(Model == "Network Acceptance" ? "active" : "true")">
          @Html.ActionLink("Network Acceptance", "NetworkAcceptance", "Settings", new { biobankId = BiobankId })
        </li>

			}

			@if (await _config.GetSiteConfigValue(ConfigKey.DisplayPublications)!= null)
			{
				<li role="presentation"
					class="@(Model == "Publications" ? "active" : "true")">
          @Html.ActionLink("Publications", "Publications", "Profile", new { biobankId = BiobankId })
        </li>
			}

			<li role="presentation"
				class="@(Model == "Annual Stats" ? "active" : "true")">
				@Html.ActionLink("Annual Stats", "AnnualStats", "Profile", new { biobankId = BiobankId })
			</li>
			@if  (await _config.GetSiteConfigValue(ConfigKey.DisplayAnalytics)!= null)
			{
				<li role="presentation"
					class="@(Model == "Analytics" ? "active" : "true")">
          @Html.ActionLink("Analytics", "Analytics", "Report", new { biobankId = BiobankId })
        </li>
			}
			@if (await _config.GetSiteConfigValue(ConfigKey.DisplaySubmissions)!= null)
			{
				<li role="presentation" class="@(Model == "Submissions" ? "active" : "true")">
					@Html.ActionLink("Bulk Submissions", "Submissions", "Settings", new { biobankId = BiobankId })
				</li>
			}
		</ul>
    </div>
</div>
