@using Biobanks.Submissions.Api.Areas.Network.Models.Profile
@model AddBiobankToNetworkModel
<h2>Add a Biobank to your Network</h2>

@* Enable Javascript to access networkId  *@
<span id="NetworkId" data-network-id="@ViewContext.RouteData.Values["networkId"]"></span>

<div class="row">
    <div class="col-sm-12 col-sm-offset-3">
        @using (@Html.BeginForm(
            "AddBiobank",
            "Profile",
            FormMethod.Post,
            new { @class = "form-horizontal col-sm-10" } ))
        {
            @Html.AntiForgeryToken()

            <div id="bloodhound" class="form-group">
                @Html.LabelFor(x => x.BiobankName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(x => x.BiobankName, new { @class = "form-control", autocomplete = "off" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(x => x.BiobankExternalID, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.BiobankExternalID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.BiobankExternalID)
                </div>
            </div>
            <div class="form-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Add</button>
                </span>
            </div>

        }
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-sm-12 col-sm-offset-3">
        <p>Or if you can't find it...</p>
        @Html.ActionLink("Invite a New Biobank", "Biobank", "Register", null, new {@class = "btn btn-success"})
    </div>
</div>


@section FooterScripts
{
    <script src="~/dist/js/Network/add-biobank.min.js" asp-append-version="true"></script>
}

