@using System.Web.Optimization
@using Biobanks.Web.Models.Home
@model PublicationSearchBoxModel
@{
    ViewBag.Title = "Publication Search Config";
}

    <div class="savePreviewBtns">
        <label id="submit-button" for="submit-form" class="btn btn-success pull-right">Save Changes</label>
        <label id="preview-button" for="preview-form" class="btn btn-primary pull-right pull-right-space">Preview</label>
    </div>

<div class="row">
    <div class="col-md-12">
        <br />
        <form id="publication-config-form" class="form-horizontal" method="post">
            <input type="submit" id="submit-form" class="hidden" formaction="./SavePublicationConfig" />
            <input type="submit" id="preview-form" class="hidden" formaction="./TermpageConfigPreview" />

            <div class="row">
                <div class="col-md-12">

                    <a class="icon-button"></a>

                    <!-- Search Title -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">Search Title</label>
                        <div class="col-md-10">
                            <input type="text" id="SearchTitle" name="SearchTitle" class="form-control" value="@Model.SearchTitle">
                        </div>
                    </div>

                    <!-- Search Sub-title -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">Search Subtitle</label>
                        <div class="col-md-10">
                            <input type="text" id="SearchSubTitle" name="SearchSubTitle" class="form-control" value="@Model.SearchSubTitle">
                        </div>
                    </div>

                    <!-- Search for related publications Radio Button -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">Search Related Publications Radio Title</label>
                        <div class="col-md-10">
                            <input type="text" id="SearchRelatedPublications" name="SearchRelatedPublications" class="form-control" value="@Model.SearchRelatedPublications">
                        </div>
                    </div>

                    <!-- Seach for related biobanks Radio Button -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">Search Related Biobanks Radio Title</label>
                        <div class="col-md-10">
                            <input type="text" id="SearchRelatedBiobanks" name="SearchRelatedBiobanks" class="form-control" value="@Model.SearchRelatedBiobanks">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .savePreviewBtns {
        padding-top: 20px;
    }
</style>

@section FooterScripts
{
    @Scripts.Render("~/bundles/markdowndeep")
}

