@using System.Web.Optimization
@using Biobanks.Web.Models.ADAC
@model IEnumerable<ReadOntologyTermModel>

@{
	ViewBag.Title = "Disease statuses";
}

@Html.Partial("_ADACTabs", (string)ViewBag.Title)

<h3>
	Disease Statuses
	<a href="#"
	   class="btn btn-success pull-right"
	   data-target="#disease-status-modal"
	   data-bind="click: openModalForAdd">Add disease status</a>
</h3>

<div class="row">
	<div class="col-sm-12">
		<br />
		<table id="disease-statuses" class="table table-striped table-fixed">

			<thead>
				<tr>
					<th>Name</th>
					<th>Ontology Term ID</th>
					<th>Other Terms</th>
					<th>Collection and Capability Count</th>
					<th>@* Actions *@</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var ontologyTerm in Model)
				{
					<tr class="@(ontologyTerm.CollectionCapabilityCount > 0 ? "info" : "")">
						<td>
							<div class="wrappable-td">@Html.DisplayFor(x => ontologyTerm.Description)</div>
						</td>
						<td>
							@Html.DisplayFor(x => ontologyTerm.OntologyTermId)
						</td>
						<td><div class="wrappable-td">@Html.DisplayFor(x => ontologyTerm.OtherTerms)</div></td>
						<td>@ontologyTerm.CollectionCapabilityCount</td>

                    <td class="text-right">
                        @if (ontologyTerm.CollectionCapabilityCount > 0)
                        {
                            <span class="fa fa-info-circle labelled-icon"></span>@Html.Raw("Disease status in use")
                            //Allow editing of 'other terms' only
                            <a title="Edit"
                               class="action-icon"
                               href="#"
                               data-target="#disease-status-modal"
                               data-disease-status="@Json.Encode(ontologyTerm)"
                               data-bind="click: openModalForEdit"
                               data-partial-edit="true">
                                <span class="fa fa-edit labelled-icon"></span>Edit
                            </a>
                        }
                        else
                        {
                            <a title="Edit"
                               class="action-icon"
                               href="#"
                               data-target="#disease-status-modal"
                               data-disease-status="@Json.Encode(ontologyTerm)"
                               data-bind="click: openModalForEdit">
                                <span class="fa fa-edit labelled-icon"></span>Edit
                            </a>

                            <a title="Delete"
                               class="action-icon delete-confirm"
                               data-refdata-model="@Json.Encode(ontologyTerm)"
                               data-resource-url="/api/DiseaseStatus"
                               data-success-redirect="@Url.Action("DiseaseStatuses")"
                               data-refdata-type="Disease status"
                               href="#">
                                <span class="fa fa-trash labelled-icon"></span>Delete
                            </a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="disease-status-modal" tabindex="-1" role="dialog" aria-labelledby="disease-status-modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="disease-status-modal-label"><span data-bind="text: modal.mode"></span> disease status</h4>
			</div>

			<div class="row">
				<div class="col-sm-12" data-bind="visible: dialogErrors().length > 0">
					<div class="alert alert-danger"
						 data-valmsg-summary="true"
						 data-bind="foreach: dialogErrors">
						<p>
							<span class="fa fa-exclamation-triangle"></span>
							<span data-bind="text: $data"></span>
						</p>
					</div>
				</div>
			</div>

            <form id="modal-disease-status-form"
                  data-resource-url="/api/DiseaseStatus"
                  data-success-redirect="@Url.Action("DiseaseStatuses")"
                  data-refdata-type="Disease status"
                  class="form-horizontal">

				<div class="modal-body">

					<div class="row">
                        <div class="col-sm-12">

                            <input type="hidden" id="Id" name="Id" data-bind="value: modal.diseaseStatus().ontologyTermId()">
                            <input type="hidden" id="OtherTerms" name="OtherTerms">
                            <!-- SNOMED ID -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ontology Term ID</label>
                                <div class="col-sm-9">
                                    <input type="text" id="OntologyTermId" name="OntologyTermId" class="form-control"
                                           data-bind="value: modal.diseaseStatus().ontologyTermId()" maxlength="20">
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" id="Description" name="Description" class="form-control"
                                           data-bind="value: modal.diseaseStatus().description()">
                                </div>
                            </div>

                            <!-- Other Terms -->
                            <div data-bind="foreach: modal.diseaseStatus().otherTerms()">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" data-bind="visible: $index() < 1">Other Terms</label>
                                    <div class="col-sm-8" data-bind="css: { 'col-sm-offset-3': $index() > 0 }">
                                        <input type="text" class="form-control"
                                               data-bind="textInput: $parent.modal.diseaseStatus().otherTerms()[$index()]">
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="fa fa-minus-circle btn btn-default form-control-static pull-right"
                                                data-bind="click: function() { $parent.removeOtherTerms($index())}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bind="click: addOtherTerms">Add Other Term</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bind="text: modal.mode"></button>
                </div>
			</form>
		</div>
	</div>
</div>

@section FooterScripts
{
	@Scripts.Render("~/bundles/knockout")
	@Scripts.Render("~/bundles/datatables")
	@Scripts.Render("~/bundles/adac/disease-statuses")
}