@using System.Web.Optimization
@model IEnumerable<Biobanks.Web.Models.Shared.RegistrationDomainRuleModel>

@{
    ViewBag.Title = "Registration Domain Rule";
}

@Html.Partial("_ADACTabs", (string)ViewBag.Title)

<h3>
    Registration Domain Rules
    <a href="#"
       class="btn btn-success pull-right"
       data-target="#registrationdomainrule-modal"
       data-bind="click: openModalForAdd">Add Registration Domain Rule</a>
</h3>

<div class="row">
    <div class="col-sm-12">
        <br />
        <table id="registration-domain-rules" class="table table-striped table-fixed">

            <thead>
                <tr>
                    <th>Rule Type</th>
                    <th>Value</th>
                    <th>@* Actions *@</th>
                </tr>
            </thead>

            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-resource-url="/api/Sex"
                            data-sexes-id="@item.Id"
                            data-sexes-desc="@item.Value">

                            <td>@item.RuleType</td>
                            <td>@item.Value</td>

                            <td class="text-right">                         
                                <a title="Edit"
                                    class="action-icon"
                                    href="#"
                                    data-target="#registration-domain-rules-modal"
                                    data-sex="@Json.Encode(item)"
                                    data-bind="click: openModalForEdit">
                                    <span class="fa fa-edit labelled-icon"></span>Edit
                                </a>

                                <a title="Delete"
                                    class="action-icon delete-confirm"
                                    data-refdata-model="@Json.Encode(item)"
                                    data-resource-url="/api/RegistrationDomainRule"
                                    data-success-redirect="@Url.Action("EmailConfig")"
                                    data-refdata-type="Registration Domain Rule"
                                    href="#">
                                    <span class="fa fa-trash labelled-icon"></span>Delete
                                </a>                            
                            </td>
                        </tr>
                    }

            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="registration-domain-rules-modal" tabindex="-1" role="dialog" aria-labelledby="registration-domain-rules-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="registration-domain-rules-modal-label"><span data-bind="text: modal.mode"></span> sex</h4>
            </div>

            <div class="row">
                <div class="col-sm-12" data-bind="visible: dialogErrors().length > 0">
                    <div class="alert alert-danger"
                         data-valmsg-summary="true"
                         data-bind="foreach: dialogErrors">
                        <p>
                            <span class="fa fa-exclamation-triangle"></span>
                            <span data-bind="text: $data"></span>
                        </p>
                    </div>
                </div>
            </div>

            <form id="modal-registration-domain-rules-form"
                  data-resource-url="/api/RegistrationDomainRule"
                  data-success-redirect="@Url.Action("EmailConfig")"
                  data-refdata-type="Registration Domain Rule"
                  class="form-horizontal">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" id="Id" name="Id" data-bind="value: modal.registrationDomainRule().id">

                            <!-- Rule Type -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Rule Type</label>
                                <div class="col-sm-9">
                                    <select id="RuleType" name="RuleType" data-bind="value: modal.registrationDomainRule().ruleType()">
                                        <option value="Allow">Allow</option>
                                        <option value="Block">Block</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Value -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Value</label>
                                <div class="col-sm-9">
                                    <input type="text" id="Value" name="Value" class="form-control"
                                           data-bind="value: modal.registrationDomainRule().value()">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bind="text: modal.mode"></button>
                </div>
            </form>
        </div>
    </div>
</div>

@section FooterScripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/adac/sexes")
}
