@using System.Web.Optimization
@using Biobanks.Web.Models.Home
@using Directory.Data.Constants
@model Biobanks.Web.Models.ADAC.RegisterConfigModel
@{
    ViewBag.Title = "Register Pages Config";
}

@Html.Partial("_ADACTabs", (string)ViewBag.Title)

<h3>
	Register @App.Config[ConfigKey.SampleResourceName] and Network Configuration

	<label id="submit-button" for="submit-form" class="btn btn-success pull-right">Save Changes</label>
</h3>

<div class="row">
	<div class="col-md-12">
		<br />

		<form id="register-config-form" class="form-horizontal" method="post">
			<input type="submit" id="submit-form" class="hidden" formaction="./SaveRegisterPagesConfig"/>

			<div class="row">
                <div class="col-md-12">

                    <a class="icon-button"></a>

                    <!-- Biobank Description -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">@App.Config[ConfigKey.SampleResourceName] Title</label>
                        <div class="col-md-10">
                            <input type="text" id="BiobankDescription" name="BiobankDescription" class="form-control" value="@Model.BiobankDescription">
                        </div>
                    </div>
                    <!-- Network Description -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">Network Title</label>
                        <div class="col-md-10">
                            <input type="text" id="NetworkDescription" name="NetworkDescription" class="form-control" value="@Model.NetworkDescription">
                        </div>
                    </div>
                </div>
			</div>
		</form>
	</div>
</div>

