@model Biobanks.Submissions.Api.Models.Search.DetailedCapabilitySearchModel
@{
    ViewBag.Title = $"Capability Search Results in {Model.BiobankName}";
    ViewBag.SuppressDefaultFeedbackMessage = true;
    ViewBag.SuppressFormErrorAlert = true;
}

<div class="row">
    <div class="col-sm-12">
        <ul class="breadcrumb">
            <li><a href="/">Home</a><span class="divider"></span></li>
            <li><a href="@Url.Action("Capabilities", "Search", new {Diagnosis = Model.OntologyTerm, Model.SelectedFacets})">Search</a><span class="divider"></span></li>
            <li class="active">Search Detail</li>
        </ul>
    </div>
    
    @* override the default positioning, so we can have this below the custom breadcrumbs *@
    <section id="feedback-message" data-ajax-source="@Url.Action("FeedbackMessageAjax", "Home")">
        @await Html.PartialAsync("_FeedbackMessage")
    </section>
    <br/>
</div>

<div class="row">
    <div class="col-sm-8">
        <h2>
            @Html.ActionLink(Model.BiobankName, "Biobank", "Profile", new { id = Model.BiobankExternalId }, null)
        </h2>
    </div>
    <div class="col-sm-4">
        <span class="pull-right">@await Html.PartialAsync("_ContactButton", Model.BiobankExternalId)</span>
    </div>
</div>

@foreach (var capability in Model.Capabilities)
{
    <div class="well results-well">
        <div class="row">
            <div class="col-sm-6">
                <h3>@capability.Disease</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h4>Bespoke protocols: @capability.Protocols</h4>
                <h4>Annual donor expectation: @capability.AnnualDonorExpectation</h4>
            </div>
            <div class="col-sm-8">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Associated Data Type</th>
                            <th>Procurement Timeframe</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (capability.AssociatedData.Any())
                        {
                            foreach (var ad in capability.AssociatedData)
                            {
                                <tr>
                                    <td>@ad.Key</td>
                                    <td>@ad.Value</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="2" class="text-center">There is no associated data for this capability.</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
