@model Biobanks.Submissions.Api.Models.Search.DetailedCollectionSearchModel
@{
    ViewBag.Title = $"Collection Search Results in {Model.BiobankName}";
    ViewBag.SuppressDefaultFeedbackMessage = true;
    ViewBag.SuppressFormErrorAlert = true;
}

<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a><span class="divider"></span></li>
            <li><a href="@Url.Action("Collections", "Search", new {Model.OntologyTerm, Model.SelectedFacets })">Search</a><span class="divider"></span></li>
            <li class="active">Search Detail</li>
        </ol>
    </div>
    
    @* override the default positioning, so we can have this below the custom breadcrumbs *@
    <section id="feedback-message" data-ajax-source="@Url.Action("FeedbackMessageAjax", "Home")">
        @await Html.PartialAsync("_FeedbackMessage")
    </section>
    <br/>
</div>

<div class="row">
    <div class="col-sm-8">
        <h2>
            @Html.ActionLink(Model.BiobankName, "Biobank", "Profile", new { id = Model.BiobankExternalId }, null)
        </h2>
    </div>
    <div class="col-sm-4">
        <span class="pull-right">@await Html.PartialAsync("_ContactButton", Model.BiobankExternalId)</span>
    </div>
</div>


@foreach (var collection in Model.Collections)
{
<div class="well results-well">
    <div class="row">
        <div class="col-sm-6">
            <h3>@collection.OntologyTerm</h3>
            @if (!string.IsNullOrEmpty(collection.CollectionTitle))
            {
                <h4>@collection.CollectionTitle</h4>
            }
        </div>
        <div class="col-sm-6">
            <h3 class="text-right">Year Started: @collection.StartYear</h3>
        </div>

        <div class="col-sm-4 truncate">

            <p>@collection.Description</p>
        </div>
    </div>
    <div class="row">

        <dl class="col-sm-4 dl-inverse">
            <br />
            <br />

            <dt>Access:</dt>
            <dd>@collection.AccessCondition</dd>
            <dt>Type:</dt>
            <dd>@collection.CollectionType</dd>
            <dt>Status:</dt>
            <dd>@collection.CollectionStatus</dd>
            <dt>Consent restrictions:</dt>
            @if (collection.ConsentRestrictions != null && collection.ConsentRestrictions.Any())
            {
                <dd>
                    @Html.Raw(string.Join(", ", collection.ConsentRestrictions.OrderBy(x => x)))
                </dd>
            }
            else
            {
                <dd>
                    No restrictions
                </dd>
            }
        </dl>

        <div class="col-sm-8">
            <table class="table table-condensed">
                <br />
                <br />
                <thead>
                    <tr>
                        <th>Associated Data Type</th>
                        <th>Procurement Timeframe</th>
                    </tr>
                </thead>
                <tbody>
                    @if (collection.AssociatedData.Any())
                    {

                        foreach (var ad in collection.AssociatedData)
                        {
                            <tr>
                                <td>@ad.Key</td>
                                <td>@ad.Value</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="2" class="text-center">There is no associated data for this collection.</td></tr>
                    }
                </tbody>
            </table>
        </div>
        </div>


        @foreach (var sampleSet in collection.SampleSets)
        {
            <br />
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <h4>@sampleSet.Sex</h4>
                    <h4>@sampleSet.AgeRange</h4>
                    <h4>@sampleSet.DonorCount donors</h4>
                </div>
                <div class="col-sm-8">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Material Type</th>
                                <th>Extraction Procedure</th>
                                <th>@Model.StorageTemperatureName</th>
                                <th>Preservation Type</th>
                                <th>@Model.MacroscopicAssessmentName</th>
                                @if (Model.ShowPreservationPercentage == "true")
                                {
                                    <th>% of Sample Set</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (sampleSet.MaterialPreservationDetails.Any())
                            {
                                foreach (var mpd in sampleSet.MaterialPreservationDetails)
                                {
                                    <tr>
                                        <td>@mpd.MaterialType</td>
                                        <td>@mpd.ExtractionProcedure</td>
                                        <td>@mpd.StorageTemperature</td>
                                        <td>@mpd.PreservationType</td>
                                        <td>@mpd.MacroscopicAssessment</td>
                                        @if (Model.ShowPreservationPercentage == "true")
                                        {
                                            <td>@mpd.PercentageOfSampleSet</td>
                                        }
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="4" class="text-center">There are no material preservation details for this sample set</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
    }
